<!DOCTYPE html>
<html>
	<head>
		<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
		<title>亚马逊运营班</title>
		<meta name="description" content="亚马逊运营班" />
		<meta name="keywords" content="亚马逊运营班" />
		<meta name="Edcba-site-verification" content="de862c6591bfa5547982a6689e39ec14" />
		<link rel="shortcut icon" type="image/x-icon" href="/images/favicon.ico" media="screen" />
		<link href="http://www.321sxy.cn/static/css/global.css" rel="stylesheet" />
		<link href="http://www.321sxy.cn/static/css/in.css" rel="stylesheet" />
		<link href="http://www.321sxy.cn/static/css/royalSlider.css" rel="stylesheet" />
		<script src="http://www.321sxy.cn/static/js/jquery-1.8.0.min.js"></script>
		<script src="http://www.321sxy.cn/static/js/script.js"></script>
		<script src="http://www.321sxy.cn/static/js/royalSlider.min.js"></script>
		<link href="http://www.321sxy.cn/static/scroll/jquery.mCustomScrollbar.css" rel="stylesheet" />
		<style>
			.clearfix{ clear: both; content: ""; display: block; overflow: hidden }
			.clear{clear: both;}
			.fl{ float: left; }
			.fr{float: right;}
			.dsn{display: none}
			.logo{
				width:90%;
				margin: 20px auto 0;
			}
			.jqh_logo{
				display: inline-block;
				width:200px;
				height: 100px;
			}
			.title_right{
				line-height: 82px;
				margin-top: 10px;
			}
			.title_txt{
				display: block;
				line-height: 22px;
				font-size: 20px
			}
			.jqh_tel{
				display: inline-block;
				width:221px;
				height: 32px;
			}
			#ninelayer{margin-bottom: 0;}
			/*底部*/
			.jqh_foot{
				/* position: relative; */
				width: 100%;
				background: #333333;
			}
			.foot_cont{
				width: 1200px;
				margin: 0 auto;
				background: #333333;
			}
			.foot_lrft{
				/* position: absolute; */
				width: 70%;
				top: 0;
				left: 0;
				background:#333333 ;

			}

			.foot_box{
				padding: 30px 0 0;
			}
			.box_list{
				margin: 0 25px;
				text-align: center;
			}
			.box_list h1{
				font-size: 18px;
				color: #FFFFFF;
				line-height: 20px;
				margin-bottom: 10px;
			}
			.box_list a{
				display: block;
				font-size: 14px;
				color: #ddd;
				line-height: 30px;
			}


			.box_text{
				float: left;
				font-size: 14px;
				color: #ddd;
				line-height: 22px;
				margin-top: 70px;
				padding-top: 30px;
				border-top: 1px #6d6d6d solid;
			}

			.foot_right{
				/* position: absolute; */
				width: 30%;
				right: 0;

				background: #333333;
			}
			.right_box{
				padding: 30px 0 63px 30px;
				color: #ffffff;
			}
			.right_box h1{
				font-size: 22px;
				line-height: 20px;
				margin-bottom: 10px;
			}
			.right_box li{
				font-size: 14px;
				color: #ddd;
				line-height: 30px;
				padding-left: 30px;
			}
			.foot_code{
				width: 100%;
				height: auto;
				text-align: center;
				margin-top: 40px;
				font-size: 12px;
			}
			.code_img{
				float: left;
				margin-right: 20px;
				width: 130px;
			}
			.foot_btm_msg{
				/* position: absolute; */
				width: 100%;
				background: #333333;
				top:453px;
			}
			.btm_msg_box{
				width: 1200px;
				font-size: 14px;
				line-height: 36px;
				color: #aaa;
				margin: 0 auto;
				text-align: center;
			}
			.rest_top_cont{
				display: inline-block;
				position: fixed;
				right: 0;
				top: 70%;
				padding: 10px 15px;
				background: #ccc;
				font-size: 14px;
				border-radius: 10px 0 0 10px;
				color: red;
				
		</style>
		<!--[if lt IE 9]>
    <link rel="stylesheet" type="text/css" media="all" href="http://www.321sxy.cn/static/css/ie.css" />
<![endif]-->
	</head>
	<body>
		<!-- 头部开始 -->
		<!-- 头部开始 -->
		<div id="header">
			<div class="logo clearfix">
				<img class="jqh_logo fl" src="http://www.szjqh.cn/images/jqh_logo.png" alt="聚企汇logo">
				<p class="title_right fr">
					<span class="title_txt">免费试学全国报名热线</span>
					<span id="wchatphone" style="color: red;font-size: 24px;"></span>
				</p>
			</div>
			<div class="nav">
					<ul class="cantainer">
						<li><a href="/">首页</a></li>
						<li>
							<a href="http://www.szjqh.cn/template/rencaishuchu.html">跨境电商人才服务</a>
							<ul>
								<li><a href="http://www.szjqh.cn/template/rencaishuchu.html">  跨境电商人才输送</a></li>
								

							</ul>
						</li>
						<li>
							<a href="#">跨境电商培训</a>
							<ul>
								<li><a href="http://www.szjqh.cn/template/peixun.html">亚马逊实操班</a></li>
								<li><a href="http://www.szjqh.cn/template/advanced.html">亚马逊运营</a></li>
								<li><a href="http://www.szjqh.cn/template/oyy.html">亚马逊孵化班</a></li>

								<li><a href="http://www.szjqh.cn/template/practice.html">亚马逊定制班</a></li>


							</ul>
						</li>
						<li>
							<a href="http://www.szjqh.cn/template/zongheyewu.html">跨境电商综合服务</a>
							<ul>
								<li><a href="http://www.szjqh.cn/template/zongheyewu.html">电商综合服务</a></li>
								

							</ul>
						
						</li>
						<li>
							<a href="http://www.szjqh.cn/template/seeMore.html">新闻中心</a>
							<ul>
								<li><a href="http://www.szjqh.cn/template/seeMore.html">一周爆闻</a></li>
								<li><a href="http://www.szjqh.cn/template/seeMore.html">新手开店</a></li>
								<li><a href="http://www.szjqh.cn/template/seeMore.html">精选干货</a></li>
								<li><a href="http://www.szjqh.cn/template/seeMore.html">电商资讯</a></li>

							</ul>
						</li>
						<li>
							<a href="http://www.szjqh.cn/template/xueyuanjieshao.html">关于我们</a>
							<ul>
								<li><a href="http://www.szjqh.cn/template/xueyuanjieshao.html">企业简介</a>
								</li><li><a href="#idBox">导师风采</a></li>
								<li><a href="#">联系我们</a></li>
								<li><a href="#">企业荣誉</a></li>
						
							</ul>
						</li>
						<!-- <li class="list02">
							<a href="/" target="_blank">分院站点</a>
							<ul>
								<li><a href="/about/hz.html" title="杭州">杭州</a></li>
								<li><a href="/about/st.html" title="汕头">汕头</a></li>
								<li><a href="/about/environment.html" class="on" title="深圳">深圳</a></li>
								<li><a href="/about/environment-longhua.html" title="武汉">武汉</a></li>
								<li><a href="/about/environment-baoan.html" title="东莞">东莞</a></li>
								<li><a href="/about/gz.html" title="广州">广州</a></li>
								<li><a href="/about/jx.html" title="华东">华东</a></li>
							</ul>
						</li> -->
						
					</ul>
				</div>
				<div class="clear"></div>
			</div>
		</div>
			<div class="clear"></div>
		</div>
		<!-- 头部结束 -->
		<!-- 头部结束 -->

		<div id="onelayer">
			<div class="container">
				<div class="top">
					<ul>
						<li><a href="peixun.html" >亚马逊实操班</a></li>
						<li><a class="on" href="#">亚马逊运营班</a></li>
						<li><a href="oyy.html">亚马逊孵化班</a></li>
						<li><a href="practice.html">亚马逊定制化课程</a></li>
					</ul>
					<div class="inline"></div>
				</div>
			</div>
			<div class="container">
				<div class="imgleft">
					<p><img src="http://www.321sxy.cn/static/images/01/01_03.jpg" /></p>
					<div class="desc">
						<h3>跨境电商平台Amazon</h3>
						<p>是美国最大的网络电子商务公司，是网络上最早开始经营跨境电子商务的公司之一，为消费者提供图书、音乐、影视、手机数码、家电、家居、玩具、健康、美容化妆、钟表首饰、服饰箱包、鞋靴、运动、食品、母婴、户外休闲、IT软件等的产品，通过购物满额免运费服务以及货到付款等多种支付方式，为消费者提供便利、快捷的网购体验。</p>
						<p>Amazon国际电子商务市场已成为发展最快的市场之一，更多的企业把视野放到Amazon上，但国内相关电商人才的稀缺已成为企业发展电商的制约因素之一，</p>
						<p>目前企业对Amazon相关电商人才的需求增加，导致Amazon电商人才成为职场的新宠儿，321电商学院开设亚马逊培训精品电子商务课程，助您实现跨境电商梦。</p>
					</div>
					<div class="clear"></div>
				</div>
				<div class="imgright">
					<div class="img">
						<ul>
							<li><img src="http://www.321sxy.cn/static/images/01/0102.jpg" /></li>
							<li><img src="http://www.321sxy.cn/static/images/01/0105.jpg" /></li>
							<li><img src="http://www.321sxy.cn/static/images/01/0109.jpg" /></li>
							<li><img src="http://www.321sxy.cn/static/images/01/0111.jpg" /></li>
						</ul>
					</div>
					<div class="desc">
						<h3>亚马逊运营班培训课程</h3>
						<p>聚企汇跨境电子商务公司针对亚马逊卖家的不同层次，因地制宜开设针对性课程，对应Amazon新手、小卖家、中级卖家等分别研发出亚马逊实操班、亚马逊运营班、亚马逊孵化班以及亚马逊定制化课程班。</p>
						<p>亚马逊运营班课程 15天 8900元 多维度教学，全面强化学员跨境平台店铺运营管理等专业能力。</p>
						<p>经过学习实践后的卖家分别实现了快速出单、迅速上排名、提升流量、打造爆款等不菲的成果，是亚马逊卖家认可的培训课程，更是亚马逊卖家培训学习的首选。</p>
					</div>
					<div class="clear"></div>
				</div>
			</div>
			<div class="clear"></div>
		</div>

		<!-- 讲师团队开始 -->
		<div id="twolayer">
			<div class="container">
				<div class="header">
					<h3>Amazon初级班丨学习对象</h3>
					<p>LECTURER OBJECT</p>
					<div class="line"></div>
				</div>
				<div class="content">
					<ul>
						<li>
							<div>
								<p><img src="http://www.321sxy.cn/static/images/01/01_11.jpg" /></p>
								<h5>Amazon卖家</h5>
							</div>
						</li>
						<li>
							<div>
								<p><img src="http://www.321sxy.cn/static/images/01/01_11-14.jpg" /></p>
								<h5>速卖通/ebay/wish卖家</h5>
							</div>
						</li>
						<li>
							<div>
								<p><img src="http://www.321sxy.cn/static/images/01/01_11-16.jpg" /></p>
								<h5>应届毕业生</h5>
							</div>
						</li>
						<li>
							<div>
								<p><img src="http://www.321sxy.cn/static/images/01/01_11-18.jpg" /></p>
								<h5>社会创业者</h5>
							</div>
						</li>
						<li>
							<div>
								<p><img src="http://www.321sxy.cn/static/images/01/01_11-20.jpg" /></p>
								<h5>工程转型</h5>
							</div>
						</li>
						<li>
							<div>
								<p><img src="http://www.321sxy.cn/static/images/01/01_11-22.jpg" /></p>
								<h5>感兴趣的社会精英人士</h5>
							</div>
						</li>
					</ul>
					<div class="clear"></div>
					<div class="inline"></div>
				</div>
			</div>
			<div class="clear"></div>
		</div>

		<!-- 讲师团队开始 -->
		<div id="eightlayer">
			<div class="container">
				<div class="header">
					<div class="btm"><a href="javascript:void(0)">点击更多</a></div>
					<h3>Amazon初级班丨名师团队</h3>
					<p>FAMOUS TEACHER TEAM</p>
					<div class="line"></div>
					<div class="tips">
						<p>321电商学院亚马逊培训班的讲师均来自有着多年亚马逊运营经营的技术专家、网络营销精英，他们既有深厚的理论基础，丰富的实战经验，同时又能精准把握行业发展动态，能为学员提供全面课程培训。</p>
					</div>
				</div>
			</div>
			<div class="clear"></div>
			<script type="text/javascript" src="http://www.321sxy.cn/static/js/lrscroll.js"></script>
			<div class="Box">
				<div class="content">
					<div class="Box_con clearfix"> <span class="btnl btn" id="btnl"></span> <span class="btnr btn" id="btnr"></span>
						<div class="conbox" id="BoxUl">
							<ul style="left: 0px;">
								<li class="cur">
									<a href="javascript:void(0)">
										<img src="http://www.321sxy.cn/uploads/image/20180319/20180319173348_64011.jpg" alt="三丰">
									</a>
									<p>三丰</p>
								</li>
								<li class="cur">
									<a href="javascript:void(0)">
										<img src="http://www.321sxy.cn/uploads/image/20180319/20180319173117_10233.jpg" alt="苑萌">
									</a>
									<p>苑萌</p>
								</li>
								<li class="cur"><a href="javascript:void(0)"><img src="http://www.321sxy.cn/uploads/jpg%20%2892%29.jpeg" alt="梅星星"></a>
									<p>梅星星</p>
								</li>
								<li class="cur"><a href="javascript:void(0)"><img src="http://www.321sxy.cn/uploads/image/20180319/20180319173138_51072.jpg"
										 alt="任星泉"></a>
									<p>任星泉</p>
								</li>
								<li class="cur"><a href="javascript:void(0)"><img src="http://www.321sxy.cn/uploads/image/20180319/20180319161925_21469.jpg" alt="Daisy"></a>
									<p>Daisy</p>
								</li>
								<li class="cur"><a href="javascript:void(0)"><img src="http://www.321sxy.cn/static/uploads/Nikki.jpg" alt="Nikki"></a>
									<p>Nikki</p>
								</li>
								<li class="cur"><a href="javascript:void(0)"><img src="http://www.321sxy.cn/uploads/image/20180319/20180319174317_67082.jpg" alt="杨颜"></a>
									<p>杨颜</p>
								</li>
								<li class="cur"><a href="javascript:void(0)"><img src="http://www.321sxy.cn/uploads/image/20180319/20180319175132_76222.jpg" alt="Helen"></a>
									<p>Helen</p>
								</li>
								<li class="cur"><a href="javascript:void(0)"><img src="http://www.321sxy.cn/static/uploads/cathy.png" alt="Cathy"></a>
									<p>Cathy</p>
								</li>
								<li class="cur"><a href="javascript:void(0)"><img src="http://www.321sxy.cn/static/uploads/Una.png" alt="Una"></a>
									<p>Una</p>
								</li>
								<li class="cur"><a href="javascript:void(0)"><img src="http://www.321sxy.cn/uploads/229%20%281%29.jpg" alt="洛辰 "></a>
									<p>洛辰 </p>
								</li>
								<li class="cur"><a href="javascript:void(0)"><img src="http://www.321sxy.cn/uploads/jpg%20%284%29.jpeg" alt="莫寒"></a>
									<p>莫寒</p>
								</li>
								<li class="cur"><a href="javascript:void(0)"><img src="http://www.321sxy.cn/uploads/Linda.jpg" alt="Linda"></a>
									<p>Linda</p>
								</li>
								<li class="cur"><a href="javascript:void(0)"><img src="http://www.321sxy.cn/uploads/jerry.jpg" alt="Jerry"></a>
									<p>Jerry</p>
								</li>
							</ul>
						</div>
					</div>
				</div>
			</div>
			<script type="text/javascript">
				LbMove('BoxUl', 'btnl', 'btnr', 'BoxSwitch', true, 'left', true, 125, 1000, 5000, 7);
			</script>
			<div class="clear"></div>
		</div>

		<!-- 讲师团队结束 -->

		<div id="threelayer">
			<div class="container">
				<div class="header">
					<h3>Amazon初级班丨课程大纲</h3>
					<p>LEARNING SYLLABUS</p>
					<div class="line"></div>
				</div>
			</div>
			<div class="container">
				<style>
					td {
						text-align: center;
						border: 1px solid #666666;
					}

					.aa {
						text-align: left;
					}

					table {
						border-collapse: collapse;
					}

					th {
						border: 1px solid #666666;
						background-color: red;
						color: white;
					}
				</style>
				<div class="centent">
					<table width="100%" border="1px solid black" align="center">
						<thead>
							<tr>
								<th>一级类目</th>
								<th>二级类目</th>
								<th>三级类目</th>
								<th>课时设置</th>
							</tr>
						</thead>
						<tbody>
							<tr>
								<td rowspan="9">亚马逊账号</td>
								<td rowspan="4">亚马逊中国卖家</td>
								<td class="aa">1、亚马逊各站点介绍</td>
								<td rowspan="9">4</td>
							</tr>
							<tr>
								<td class="aa">2.介绍成为中国卖家的必备条件</td>
							</tr>
							<tr>
								<td class="aa">3.账号申请实操介绍及应对技巧</td>
							</tr>
							<tr>
								<td class="aa">4.亚马逊中国卖家的优劣势</td>
							</tr>
							<tr>
								<td rowspan="2">亚马逊本土卖家</td>
								<td class="aa">1.如何成为亚马逊本土卖家</td>
							</tr>
							<tr>
								<td class="aa">2.亚马逊本土卖家的优劣势</td>
							</tr>
							<tr>
								<td rowspan="2">亚马逊全球开店项目</td>
								<td class="aa">1.介绍亚马逊全球开店项目</td>
							</tr>
							<tr>
								<td class="aa">2.亚马逊全球开店项目的优劣势</td>
							</tr>
							<tr>
								<td rowspan="1">实操练习</td>
								<td class="aa">模拟新账户申请</td>
							</tr>
							<tr>
								<td rowspan="4">Amazon界面</td>
								<td rowspan="4">Amazon后台操作</td>
								<td class="aa">1.亚马逊前端页面及后台页面详解</td>
								<td rowspan="4">4</td>
							</tr>
							<tr>
								<td class="aa">2.亚马逊账户后台各项设置详解</td>
							</tr>
							<tr>
								<td class="aa">3.实操练习：账户设置</td>
							</tr>
							<tr>
								<td class="aa">4.亚马逊后台六版块介绍及操作指导</td>
							</tr>
							<tr>
								<td rowspan="5">帐号风险控制</td>
								<td rowspan="2">账户关联</td>
								<td class="aa">1.介绍账户关联各因素，及如何防止账户关联</td>
								<td rowspan="5">2</td>
							</tr>
							<tr>
								<td class="aa">2.多账户操作注意事项与建立子账户</td>
							</tr>
							<tr>
								<td rowspan="3">账户风险</td>
								<td class="aa">1.影响账户健康七指标介绍及应对措施</td>
							</tr>
							<tr>
								<td class="aa">2.账户风险分析与应对技巧</td>
							</tr>
							<tr>
								<td class="aa">3.账户被封及应对措施</td>
							</tr>
							<tr>
								<td rowspan="7">Amazon独有的特色</td>
								<td rowspan="5">FBA</td>
								<td class="aa">1.FBA的介绍</td>
								<td rowspan="5">5</td>
							</tr>
							<tr>
								<td class="aa">2.FBA的优劣势及如何选品</td>
							</tr>
							<tr>
								<td class="aa">3.FBA的收费标准</td>
							</tr>
							<tr>
								<td class="aa">4.FBA后台实操及各注意事项</td>
							</tr>
							<tr>
								<td class="aa">5.实操练习：FBA补货</td>
							</tr>
							<tr>
								<td rowspan="2">产品Review</td>
								<td class="aa">1.产品Review的介绍</td>
								<td rowspan="2">1</td>
							</tr>
							<tr>
								<td class="aa">2.初始产品Review的积累技巧分享</td>
							</tr>
							<tr>
								<td rowspan="19">AmazonN四大核心模块</td>
								<td rowspan="5">Amazon产品开发</td>
								<td class="aa">1.产品开发思维</td>
								<td rowspan="5">3</td>
							</tr>
							<tr>
								<td class="aa">2.如何开展Amazon站内市场调研</td>
							</tr>
							<tr>
								<td class="aa">3.产品成本分析及定价</td>
							</tr>
							<tr>
								<td class="aa">4.产品备货及技巧分享</td>
							</tr>
							<tr>
								<td class="aa">5.产品优化</td>
							</tr>
							<tr>
								<td rowspan="6">Amazon销售</td>
								<td class="aa">1.如何跟列Listing及技巧分享</td>
								<td rowspan="6">6</td>
							</tr>
							<tr>
								<td class="aa">2.如何自建Listing及技巧分享</td>
							</tr>
							<tr>
								<td class="aa">3.提高产品销售经验分享（Title,关键字及其它操作技术层面）</td>
							</tr>
							<tr>
								<td class="aa">4.产品分类审核指导</td>
							</tr>
							<tr>
								<td class="aa">5.亚马逊收费标准</td>
							</tr>
							<tr>
								<td class="aa">6.实操练习：产品上架</td>
							</tr>
							<tr>
								<td rowspan="5">Amazon营销推广</td>
								<td class="aa">1.四种站内Promotions后台实操介绍及技巧分享</td>
								<td rowspan="5">4</td>
							</tr>
							<tr>
								<td class="aa">2.Sponsored Products后台实操介绍及技巧分享</td>
							</tr>
							<tr>
								<td class="aa">3.Amazon站内广告介绍及技巧分享s</td>
							</tr>
							<tr>
								<td class="aa">4.Amazon站外营销介绍</td>
							</tr>
							<tr>
								<td class="aa">5.实操练习：Amazon站内营销</td>
							</tr>
							<tr>
								<td rowspan="3">Amazon客服</td>
								<td class="aa">1.各类客服邮件技巧应对</td>
								<td rowspan="3">2</td>
							</tr>
							<tr>
								<td class="aa">2.客户指标解析与维护账号安全</td>
							</tr>
							<tr>
								<td class="aa">3.去除差评经验分享</td>
							</tr>
							<tr>
								<td rowspan="1">结业</td>
								<td rowspan="1">结业典礼</td>
								<td class="aa">结业考试、现场问卷解答、发结业证</td>
								<td rowspan="1">1</td>
							</tr>
						</tbody>
					</table>
				</div>
			</div>
			<div class="clear"></div>
		</div>
		<div id="fourlayer">
			<div class="container">
				<div class="header">
					<h3>Amazon初级班丨课程流程</h3>
					<p>COURSE PROCESS</p>
					<div class="line"></div>
				</div>
			</div>
			<div class="screen">
				<div class="container">
					<div class="left"><img src="http://www.321sxy.cn/static/images/01/01_30.jpg" alt="" /></div>
					<div class="right">
						<ul>
							<li>
								<div class="silder">课程收益</div>
								<ol>
									<li>一次培训，终身免费指导，一次收费，终身学会为止；</li>
									<li>从零开始，手把手传授实战经验，新手可瞬间入手；</li>
									<li>全程辅导，实战经验精华，让你少走2年弯路；</li>
									<li>理论授课、实操演示、视频教程多维度提升学习体验；</li>
									<li>资源共享，打造跨境卖家商业联盟；</li>
									<li>根据需求，提供平台运营内训的相关增值服务（产品开发、平台销售、客服管理、产品采购等 ）</li>
								</ol>
							</li>
							<li>
								<div class="silder">学习周期</div>
								<p>Amazon初级班28课时</p>
							</li>
						</ul>
					</div>
				</div>
			</div>
			<div class="clear"></div>
		</div>
		<div id="fivelayer">
			<div class="container">
				<div class="header">
					<h3>Amazon初级班丨课程优势</h3>
					<p>CURRICULUM ADVANTAGE</p>
					<div class="line"></div>
				</div>
			</div>
			<div class="container">
				<ul>
					<li style="background: #fce8df;">
						<h5>紧贴前沿</h5>
						<p>集多名专家共同授课，与电子商务发展最新趋势同步，确保培训的前瞻性。</p>
					</li>
					</li>
					<li style="background: #f4b3b3;">
						<h5>实战演练</h5>
						<p>培训内容以实际运用为核心，切合学员掌握电商实际情况，全面强化学员电商营销技能及客户管理等专业能力。</p>
					</li>
					</li>
					<li style="background: #f4b3b3;">
						<h5>系统培训</h5>
						<p>针对学员职业规划的需求，实现从电商操作、电商专员到电商经理等系统性升级培训。</p>
					</li>
					</li>
					<li style="background: #fce8df;">
						<h5>就业保障</h5>
						<p>学员经培训考核成功毕业后，保证推荐就业。如三个月内无就业机会，承诺退还全部培训费用，学员无任何风险。</p>
					</li>
					</li>
				</ul>
			</div>
			<div class="clear"></div>
		</div>
		<div id="sixlayer">
			<div class="container">
				<div class="header">
					<h3>Amazon初级班丨报名参加</h3>
					<p>ENTER FOR</p>
					<div class="line"></div>
				</div>
			</div>
			<div class="screen">
				<div class="container">
					<div class="content">
						<div class="btm"><a href="javascript:void(0)" target="_blank">立即报名</a></div>
						<div class="btm"><a href="javascript:void(0)" target="_blank">服务咨询</a></div>
						<div class="btm"><a href="javascript:void(0)"
							 target="_blank">在线咨询</a></div>
					</div>
					<div class="hotline">
						<p><img src="http://www.321sxy.cn/static/images/hotline10.png" alt="hotline"></p>
					</div>
				</div>
			</div>
			<div class="clear"></div>
		</div>
		<div id="sevenlayer">
			<div class="container">
				<div class="header">
					<h3>Amazon常见问题</h3>
					<p>Amazon FAQ</p>
					<div class="line"></div>
				</div>
			</div>
			<div class="container">
				<div class="content">
					<div class="left"><img src="http://www.321sxy.cn/static/images/01/01_33.jpg" alt="" /></div>
					<div class="right">
						<div class="desc">
							<h3>做Amazon的卖家，肯定经常会遇到以下苦恼和疑问：</h3>
							<p> <a href="javascript:void(0)">1、亚马逊注册开店流程？</a> </p>
							<p> <a href="javascript:void(0)">2、如何成为amazon的卖家？</a> </p>
							<p> <a href="javascript:void(0)">3、怎样设置和优化amazon界面？</a> </p>
							<p> <a href="javascript:void(0)">4、怎么做站内推广和站外引流？</a> </p>
							<p> <a href="javascript:void(0)">5、如何打造爆款并实现销量飞跃？</a> </p>
							<p> <a href="javascript:void(0)">6、如何提高账号表现力—FBA剖析？</a> </p>
							<p> <a href="javascript:void(0)">7、如何开发适合amazon的产品？</a> </p>
							<p> <a href="javascript:void(0)">8、如何自建产品listing如何跟卖？</a> </p>
							<p> <a href="javascript:void(0)">9、？......</a> </p>
							<div class="btm" style="position: relative; float: right; top: -38px;right: 50px;"><a href="https://prt.zoosnet.net/lr/chatpre.aspx?id=prt39411250&amp;lng=cn&amp;p=&amp;r=&amp;cid=1511747051441709622201&amp;sid=1522374146061819512935"
								 target="_blank">以上问题-点击咨询</a></div>
						</div>
					</div>
				</div>
			</div>
			<div class="clear"></div>
		</div>


		<div id="ninelayer">
			<div class="container">
				<div class="header">
					<h3>新闻中心</h3>
					<p>NEWS CENTER</p>
					<div class="line"></div>
				</div>
			</div>
			<div class="container">
				<ul class="tabbtn" id="tabbtn">
					<li class="on"><a href="javascript:void(0)">活动/课堂</a></li>
					<li><a href="javascript:void(0)">电商早报</a></li>
					<li><a href="javascript:void(0)">公司新闻</a></li>
					<li><a href="javascript:void(0)">跨境资讯</a></li>
					<li><a href="javascript:void(0)">跨境干货</a></li>
					<li><a href="javascript:void(0)">新媒体资讯</a></li>
				</ul>
				
				<div class="tabcentent" id="tabcentent">
					<div class="tabcententlist"><img src="http://www.321sxy.cn/static/uploads/%E6%9C%AA%E6%A0%87%E9%A2%98-1%20%E5%89%AF%E6%9C%AC%20%281%29.jpg" />
						<div class="list">
							<div class="date"><span class="day">26</span><span class="ym">2019.06</span></div>
							<div class="text">
								<h3><a href="javascript:void(0)">跨境电商培训的课程主要分三部分:跨境电商店铺的管理与实操、跨境电商优化和跨境电商运营。</a></h3>
								<p>跨境电商培训的课程主要分三部分:跨境电商店铺的管理与实操、跨境电商优化和跨境电商运营。...</p>
							</div>
						</div>
						<div class="list">
							<div class="date"><span class="day">23</span><span class="ym">2019.05</span></div>
							<div class="text">
								<h3><a href="javascript:void(0)">321电商学院丨亚马逊初级班139期开课啦！</a></h3>
								<p>亚马逊初级班139期开课啦！从零开始，手把手传授实战经验，新手可瞬间入手； 全程辅导，实战经验精华，让你少走2年弯路；针对学员职业规划的需求，实现从电商操作、电...</p>
							</div>
						</div>
						<div class="list">
							<div class="date"><span class="day">26</span><span class="ym">2019.04</span></div>
							<div class="text">
								<h3><a href="javascript:void(0)">321电商学院丨亚马逊初级班138期圆满结业！</a></h3>
								<p>亚马逊初级班138期圆满结业！ 321电商学院以“精致、专注、激情”为企业精神，秉承“专注行业，实战为王”的培训理念，开设以各类电商初级班、进阶班、等为主实战营...</p>
							</div>
						</div>
					</div>
					<div class="tabcententlist"><img src="http://www.321sxy.cn/static/uploads/%E6%97%A9%E6%8A%A5.jpg" />
						<div class="list">
							<div class="date"><span class="day">19</span><span class="ym">2019.07</span></div>
							<div class="text">
								<h3><a href="javascript:void(0)">321电商早报0719丨意大利邮政开设最大物流中心</a></h3>
								<p>321电商学院丨每日为您推送最新最全面的跨境电商资讯！</p>
							</div>
						</div>
						<div class="list">
							<div class="date"><span class="day">17</span><span class="ym">2019.07</span></div>
							<div class="text">
								<h3><a href="javascript:void(0)">321电商早报0717丨Google Shopping中国招商已启动</a></h3>
								<p>321电商学院丨每日为您推送最新最全面的跨境电商资讯！</p>
							</div>
						</div>
						<div class="list">
							<div class="date"><span class="day">16</span><span class="ym">2019.07</span></div>
							<div class="text">
								<h3><a href="javascript:void(0)">321电商学院0716丨Facebook被罚款50亿美元</a></h3>
								<p>321电商学院丨每日为您推送最新最全面的跨境电商资讯！</p>
							</div>
						</div>
					</div>
					<div class="tabcententlist"><img src="http://www.321sxy.cn/static/uploads/%E5%B9%B2%E8%B4%A7.jpg" />
						<div class="list">
							<div class="date"><span class="day">02</span><span class="ym">2019.07</span></div>
							<div class="text">
								<h3><a href="javascript:void(0)">2019跨境电商大型招聘会丨7.16日正式开始！</a></h3>
								<p>百名高校毕业生，助力您的发展之路！我在321电商学院等你来参加...</p>
							</div>
						</div>
						<div class="list">
							<div class="date"><span class="day">06</span><span class="ym">2019.06</span></div>
							<div class="text">
								<h3><a href="javascript:void(0)">企业运营顾问丨“首脑行动”全面开启！</a></h3>
								<p>Amazon运营的体系化解决方案、企业发展的全方位咨询管理顾问...</p>
							</div>
						</div>
						<div class="list">
							<div class="date"><span class="day">14</span><span class="ym">2019.05</span></div>
							<div class="text">
								<h3><a href="javascript:void(0)">321电商学院五大核心业务板块震撼来袭！</a></h3>
								<p>321电商学院致力打造跨境电商培训行业最专业，一条龙服务！...</p>
							</div>
						</div>
					</div>
					<div class="tabcententlist"><img src="http://www.321sxy.cn/static/uploads/%E8%B5%84%E8%AE%AF.jpg" />
						<div class="list">
							<div class="date"><span class="day">16</span><span class="ym">2019.07</span></div>
							<div class="text">
								<h3><a href="javascript:void(0)">跨境电商资讯丨跨境支付无牌时代结束？</a></h3>
								<p>临近跨境外汇支付业务试点支付机构正式向注册地国家外汇管理局分局、外汇管理部进行名录登记“转正”的限期，跨境支付企业的合规经营又再次成为业内关注的重点。...</p>
							</div>
						</div>
						<div class="list">
							<div class="date"><span class="day">04</span><span class="ym">2019.07</span></div>
							<div class="text">
								<h3><a href="javascript:void(0)">国务院再增加一批跨境电商试点城市</a></h3>
								<p>昨日李克强总理主持召开国务院常务会议，听取赋予自由贸易试验区更大改革创新自主权落实情况汇报。...</p>
							</div>
						</div>
						<div class="list">
							<div class="date"><span class="day">25</span><span class="ym">2019.06</span></div>
							<div class="text">
								<h3><a href="javascript:void(0)">Shopee与杭州共建数字丝路“新杭线”</a></h3>
								<p>“新杭线”——Shopee与杭州区域贸易布局战路发布会</p>
							</div>
						</div>
					</div>
					<div class="tabcententlist"><img src="http://www.321sxy.cn/static/uploads/%E5%AE%98%E7%BD%91%E8%B5%84%E8%AE%AF%20%E5%89%AF%E6%9C%AC.JPG" />
						<div class="list">
							<div class="date"><span class="day">13</span><span class="ym">2019.07</span></div>
							<div class="text">
								<h3><a href="javascript:void(0)">做外贸客户不回复怎么办？该怎么激活客户？如何推进潜在客户？</a></h3>
								<p>根据321电商学院官网留言及微信群和学员的反馈：得到以下的一些频率较高的问题...</p>
							</div>
						</div>
						<div class="list">
							<div class="date"><span class="day">03</span><span class="ym">2019.07</span></div>
							<div class="text">
								<h3><a href="http://www.321sxy.cn/information/ya-ma-xun-fa-huo/">亚马逊的三种发货方式优缺点汇总，亚马逊卖家该如何选择？</a></h3>
								<p>众所周知，亚马逊拥有三种发货方式，要对物流公司、海外仓、FBA三者有清楚的认识，而且每种发货方式都拥有着自己的特点...</p>
							</div>
						</div>
						<div class="list">
							<div class="date"><span class="day">11</span><span class="ym">2019.06</span></div>
							<div class="text">
								<h3><a href="javascript:void(0)">跨境电商如何培养自己的人才?</a></h3>
								<p>跨境电商业务迅猛增长，使得跨境电商高端产业人才需求量越来越大，那么问题就来了跨境电商人才服务怎么样去培养呢，才能紧跟21世纪飞速发展的产业需求步伐？...</p>
							</div>
						</div>
					</div>
					<div class="tabcententlist"><img src="http://www.321sxy.cn/static/uploads/%E6%96%B0%E9%97%BB%20%281%29.jpg" />
						<div class="list">
							<div class="date"><span class="day">08</span><span class="ym">2019.07</span></div>
							<div class="text">
								<h3><a href="javascript:void(0)">新媒体运营包括什么？运营小白新手必看！</a></h3>
								<p>前天有个新媒体课程VIP学员的提问，说他自己对新媒体很感兴趣，想从事新媒体相关的工作，但是没有工作经验，问我有没有什么好的建议?...</p>
							</div>
						</div>
						<div class="list">
							<div class="date"><span class="day">08</span><span class="ym">2019.07</span></div>
							<div class="text">
								<h3><a href="javascript:void(0)">在抖音，如何做出爆款内容？（认知篇）</a></h3>
								<p>新媒体时代，人人都是媒体及流量，那今天就让我们进入到抖音的内部，去了解详情吧！...</p>
							</div>
						</div>
					</div>
				</div>
			
			</div>

			<div class="clearfix"></div>
		</div>

		<!-- 底部开始 -->
		﻿
		<!--Footer-->
		<div class="jqh_foot">
			<div class="foot_cont clearfix">
				<div class="foot_lrft fl">
					<div class="left_cont_msg">
						<div class="foot_box clearfix">
							<div class="box_list fl">
								<h1>首页</h1>
							
							</div>
							<div class="box_list fl">
								<h1>跨境电商人才服务</h1>
								<a href="http://www.szjqh.cn/template/rencaishuchu.html">跨境电商人才输送</a>

							</div>
							<div class="box_list fl">
								<h1>跨境电商培训</h1>
								<a href="http://www.szjqh.cn/template/peixun.html">亚马逊实操班</a>
								<a href="http://www.szjqh.cn/template/advanced.html">亚马逊运营</a>
								<a href="http://www.szjqh.cn/template/oyy.html">亚马逊孵化班</a>
								<a href="http://www.szjqh.cn/template/practice.html">亚马逊定制班</a>

							</div>
							<div class="box_list fl">
								<h1>跨境电商综合服务</h1>
								<a href="#">电商综合服务</a>
							</div>
							<div class="box_list fl">
								<h1>新闻中心</h1>
								<a href="http://www.szjqh.cn/template/seeMore.html">一周爆闻</a>
								<a href="http://www.szjqh.cn/template/seeMore.html">新手开店</a>
								<a href="http://www.szjqh.cn/template/seeMore.html">精选干货</a>
								<a href="http://www.szjqh.cn/template/seeMore.html">电商资讯</a>
							</div>
							<div class="box_list fl">
								<h1>关于我们</h1>
								<a  href="http://www.szjqh.cn/template/xueyuanjieshao.html">企业简介</a>
								<a  href="http://www.szjqh.cn/#idBox">导师风采</a>
								<a href="http://www.szjqh.cn/#">联系我们</a>
								<a  href="#">企业荣誉</a>
							</div>
						</div>
					
					</div>
				</div>
				<div class="foot_right fr">
					<div class="right_box">
						<ul class="">
							<h1>联系方式</h1>
							<li style="background: url(images/jqh_foot3.jpg) left no-repeat;" id="wzuoji">0755 - 2101 5425</li>
							<li style="background: url(images/jqh_foot4.jpg) left no-repeat;" id="waddress">深圳市龙华新区上塘淘金地大厦E座701</li>
							<li style="background: url(images/jqh_foot5.jpg) left no-repeat;" id="wchuanzhen">0755 - 2101 5425</li>
							<li style="background: url(images/jqh_foot6.jpg) left no-repeat;" id="wemail">christina@senmulife.com</li>
						</ul>
					
					</div>
				</div>
			</div>
			<div class="foot_btm_msg">
				<div class="btm_msg_box">
					Copyright @ 2019 深圳市聚企汇有限公司 <a style="color:#aaa" href="http://www.miitbeian.gov.cn/publish/query/indexFirst.action">粤ICP备19087984号</a>
				</div>
			</div>
		</div>
		<div class="titlemsg"  style="display: none;"> 
			<div id="st_mask" style="width: 100%;height: 100%;background: rgba(0, 0, 0, 0.4);position: fixed;left: 0px;top: 0px;z-index: 4;display: block;"></div>
			<div id="st_alertBox" style="width: 100%; position: fixed; left: 0px; top: 34%; text-align: center; z-index: 5; display: block;">
				<div id="st_alert"  onlick="close()" style="width: 30%; margin: 0px auto; background: rgb(255, 255, 255); border-radius: 2px; overflow: hidden; padding-top: 40px; text-align: center;">
					<span id="st_alert_text" style="background: rgb(255, 255, 255); overflow: hidden; padding: 15px 8px 30px; text-align: center; display: block;"></span>
					<span id="st_alert_btn"  style="background: rgb(27, 121, 248); color: rgb(255, 255, 255); padding: 8px; text-align: center; display: block; width: 40%; margin: 0px auto 20px; border-radius: 2px; overflow: hidden; text-overflow: ellipsis; white-space: nowrap;">确定</span>
				</div>
			</div>
		</div>
		
		<a class="rest_top_cont" href="#header">返回到顶部</a>
		<!--/Footer-->
		
	
	</body>
	<script>
		$(function() {
	
			$.ajax({
			url : "http://www.szjqh.cn/config/query",
			type : "get",
			success : function(data) {
			
				
				$("#waddress").text(data.datas.waddress)
				$("#wchatphone").text(data.datas.wchatphone)
				$("#wchuanzhen").text(data.datas.wchuanzhen)
				$("#wemail").text(data.datas.wemail)
				$("#wzuoji").text(data.datas.wzuoji)

				$("#keywords")[0].content=data.datas.wkeyword
				$("#description")[0].content=data.datas.wdesc
				$("title")[0].text=data.datas.wtitle
			
			
			}
		});
	

		})
</script>
</html>
