
<!DOCTYPE HTML>
<html>
<head>
<script>
var _hmt = _hmt || [];
(function() {
  var hm = document.createElement("script");
  hm.src = "https://hm.baidu.com/hm.js?41d49d68f2b0dcfa6e419a34f118139a";
  var s = document.getElementsByTagName("script")[0]; 
  s.parentNode.insertBefore(hm, s);
})();
</script>

<title>聚企汇网站</title>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
<meta name="apple-mobile-web-app-capable" content="yes">
<meta name="apple-mobile-web-app-status-bar-style" content="white">
<meta name="viewport" content="width=1220">
<link href='http://fonts.googleapis.com/css?family=Open+Sans:400,600' rel='stylesheet' type='text/css'>
<link href="css/style.css" rel="stylesheet" type="text/css" media="all" />
<script type="text/javascript" src="js/jquery.min.js"></script>
<link rel="stylesheet" type="text/css" href="css/royalSlider.css" />
<script type="text/javascript" src="js/royalSlider.min.js"></script>
<script type="text/javascript" src="js/banner.js"></script>
<script type="text/javascript">
	$(function(){
var browser={
    versions:function(){
        var u = navigator.userAgent, app = navigator.appVersion;
        return {//移动终端浏览器版本信息
            trident: u.indexOf('Trident') > -1, //IE内核
            presto: u.indexOf('Presto') > -1, //opera内核
            webKit: u.indexOf('AppleWebKit') > -1, //苹果、谷歌内核
            gecko: u.indexOf('Gecko') > -1 && u.indexOf('KHTML') == -1, //火狐内核
            mobile: !!u.match(/AppleWebKit.*Mobile.*/), //是否为移动终端
            ios: !!u.match(/\(i[^;]+;( U;)? CPU.+Mac OS X/), //ios终端
            android: u.indexOf('Android') > -1 || u.indexOf('Linux') > -1, //android终端或者uc浏览器
            iPhone: u.indexOf('iPhone') > -1 , //是否为iPhone或者QQHD浏览器
            iPad: u.indexOf('iPad') > -1, //是否iPad
            webApp: u.indexOf('Safari') == -1 //是否web应该程序，没有头部与底部
        };
    }(),
    language:(navigator.browserLanguage || navigator.language).toLowerCase()
}


    //底部定位
    var $winH=document.body.offsetHeight,$bodyH=$("body").height(),$win=$(window).height();
    //PC端
    if(browser.versions.trident || browser.versions.presto || browser.versions.webKit ||
        browser.versions.gecko ){
        if($bodyH < $win){
            $(".footer").css({"position":"fixed","bottom":"0"})
        };
    }
    //移动端
    else{
        if($bodyH < $win){
            if($bodyH<=$winH){
                $("body").css("min-height",$winH);
                $(".footer").css({"position":"absolute","bottom":"0"})
            }

        }
    }
})
</script>
<style type="text/css"> </style>
</head>
<body style="width: 100%;">

	<div class="header_bg">

		<!--header-->
		<div class="wrap">
			<div class="header">
				<div class="logo clearfix">
					<img class="jqh_logo fl" src="images/jqh_logo.png" alt="聚企汇logo">
					<p class="title_right fr">
						<span class="title_txt">免费试学全国报名热线</span>
						<img class="jqh_tel" src="images/jqh_tel.png" alt="聚企汇电话">
					</p><!--<a href="index.html"><img src="images/logo.png" alt=""/> </a>-->
				</div>

				<!--导航-->
				<div class="nav">
					<ul class="cantainer">
						<li><a href="/">首页</a></li>
						<li>
							<a href="#">跨境电商人才服务</a>
							<ul>
								<li><a href="#">跨境电商基础人才输出</a></li>
							
							</ul></li>
						<li>
							<a href="#">跨境电商培训</a>
							<ul>
								<li><a href="#">亚马逊初级班</a></li>
							
							</ul>
						</li>
						<li>
							<a href="#">跨境电商综合服务</a>
							<ul>
								<li><a href="#">运营顾问服务</a></li>
								
							</ul>
						</li>
						<li>
							<a href="http://www.321sxy.cn/information/">资讯中心</a>
							<ul>
								<li><a href="#">电商资讯</a></li>
						
							</ul>
						</li>
						<li>
							<a href="/about/">关于我们</a>
							<ul>
								<li><a href="#">学院简介</a>
								</li><li><a href="#">名师风采</a></li>
								<li><a href="#">联系我们</a></li>
								<li><a href="#">企业荣誉</a></li>
						
							</ul>
						</li>
						<li class="list02">
							<a href="/" target="_blank">分院站点</a>
							<ul>
								<li><a href="/about/hz.html" title="杭州">杭州</a></li>
								<li><a href="/about/st.html" title="汕头">汕头</a></li>
								<li><a href="/about/environment.html" class="on" title="深圳">深圳</a></li>
								<li><a href="/about/environment-longhua.html" title="武汉">武汉</a></li>
								<li><a href="/about/environment-baoan.html" title="东莞">东莞</a></li>
								<li><a href="/about/gz.html" title="广州">广州</a></li>
								<li><a href="/about/jx.html" title="华东">华东</a></li>
							</ul>
						</li>
						
					</ul>
				</div>
				<div class="clear"></div>
			</div>
		</div>

		<!-- 横幅开始 -->
		<div class="banner">
			<div class="slick-slider">
				<a href=""><img class="rsImg" src="images/jqh_banner1.jpg" alt="" /></a>
				<a href=""><img class="rsImg" src="images/jqh_banner2.jpg" alt="" /></a>
				<a href=""><img class="rsImg" src="images/jqh_banner3.jpg" alt="" /></a>
				<a href=""><img class="rsImg" src="images/jqh_banner4.jpg" alt="" /></a>
			</div>
		</div>

		<!--首页特色课程begin-->
		<div class="work">
			<div class="workCont">
				<div class="workTitle">
					<h2 class="title_mark">特色课程</h2>
					<p class="jqh_work"></p>
					<p class="til_txt">以学员满意度、以学员学习效果为本</p>
				</div>
				<div class="workdetils ">
					<div class="det_cont clearfix">
						<dl class="details_list fl">
							<dt class="details_img1">
							</dt>
							<dd>
								<p class="deta_til">跨境电商培训</p>
								<p class="deta_txt">亚马逊培训，ebay培训，速卖通培训；实操班，运营班，总裁班。</p>
							</dd>
						</dl>
						<dl class="details_list fl">
							<dt class="details_img2">
								<img src="images/jqh_work2.png" alt="">
							</dt>
							<dd>
								<p class="deta_til">跨境电商运营指导</p>
								<p class="deta_txt">一企业跨境电商内训，二跨境电商托管，三跨境电商运营，四跨境电商一对一诊断指导。</p>
							</dd>
						</dl>
						<dl class="details_list fl">
							<dt class="details_img3">
								<img src="images/jqh_work3.png" alt="">
							</dt>
							<dd>
								<p class="deta_til">跨境电商人才输送</p>
								<p class="deta_txt">一跨境电商高校人才输送，二跨境电商卖家输送，三跨境电商人才猎聘。</p>
							</dd>
						</dl>
						<dl class="details_list marginNon fl">
							<dt class="details_img4">
							</dt>
							<dd>
								<p class="deta_til">跨境电商平台建设</p>
								<p class="deta_txt">一跨境电商全球开店注册，二跨境电商独立站建设，三跨境电商团队建设，四跨境电商产品分销。</p>
							</dd>
						</dl>
					</div>
				</div>
				<div class="work_details" >
					<!-- <h3>学习课程</h3> -->
					<!-- <p class="work_tableTitle">不仅仅是学习技能，更是掌握实战本领！通过专业、全面、系统的学习，从小白到行家 </p> -->
					<ul class="work_tableBox  clearfix" id="subject">
						<!-- <li class=" fl">
							<h2>亚马逊课程</h2>
							<p class="cps_txy">操盘手特训营营</p>
							<p class="bw_txy">亚马逊培训基础班</p>
							<p class="txy_title">实操班</p>
							<p class="txy_fbt">不动ABC也能赚美金</p>
							<p class="txy_pir">5天3980元</p>
							<p class="txy_dirc">实战式培训教学<br>实际运用出真章</p>
						</li> -->
						<!--<li class=" fl">
							<h2>亚马逊课程</h2>
							<p class="cps_txy">操盘手特训营营</p>
							<p class="bw_txy">亚马逊王者特训营</p>
							<p class="txy_title">运营班</p>
							<p class="txy_fbt">加速起步，打造运营王者</p>
							<p class="txy_pir">15天8900元</p>
							<p class="txy_dirc">多维度教学，全面强化<br>学员跨境平台店铺运<br>营管理等专业能力</p>
						</li>
						<li class=" fl">
							<h2>亚马逊课程</h2>
							<p class="cps_txy">操盘手特训营营</p>
							<p class="bw_txy">百万美金特训营</p>
							<p class="txy_title">孵化班</p>
							<p class="txy_fbt">简单 . 粗暴 . 可复制</p>
							<p class="txy_pir">30天16800元</p>
							<p class="txy_dirc">理论+实战<br>培训学员跨境电商营<br>销技巧及运用管理能力</p>
						</li>
						<li class=" fl">
							<h2>亚马逊课程</h2>
							<p class="cps_txy">操盘手特训营营</p>
							<p class="bw_txy">站外引流团队班</p>
							<p class="txy_title">定制化课程</p>
							<p class="txy_fbt">全网销售，引爆流量</p>
							<p class="txy_pir">顾问形式8000/月</p>
							<p class="txy_dirc">阶段式顾问式指导<br>导师讲评、为您负责到底</p>
						</li>-->
					</ul>
				</div>
				<div class="work_details">
					<h3>我们的服务</h3>
					<div class="server_cont">
						<ul class="clearfix">
							<li class="server_detl fl">
								<div>
									<div class="server_ct">
										<h3>企业咨询</h3>
										<p class="detl_txt">专业导师辅导，为您的开店之路保驾护航；定制化企业辅导:帮助企业打造具有竞争力的跨境电商企业，从模式、管理、等多角度进行专业辅导；一对一辅导:店铺咨询、团队咨询、产品咨询。</p>
									</div>
									<div class="server_img server_img1"></div>
								</div>
							</li>
							<li class="server_detl fl">
							
							<div class="marTopF30">
									<!-- <div class="server_imgbg server_img6"></div> -->
										<div>
									<div class="server_img server_img2"></div>
									<div class="server_ct">
										<h3>产品分销</h3>
										<p class="detl_txt">
											供应商：帮助企业寻找优质供应商，找到爆款好产品；
											品牌分销：建立多个品牌分销，产品不愁卖不出销量。
										</p>
									</div>
								</div>
								</div>
								
							</li>
							<li class="server_detl fl">
								<div>
									<div class="server_ct">
										<h3>人才输送</h3>
										<p class="detl_txt">
											解决企业招聘难、考核难、留人难等问题，帮助您自由快速选择，高匹配专业人才，建设一支能打仗的队伍；
											高校毕业生——培训1个月上岗，输送实用型人才；
											猎头服务——优质人才资源，输送专业型人才；
											社招服务——卖家转型人才，输送高效型人才。
										</p>
									</div>
									<div class="server_img server_img3"></div>
								</div>
							</li>
						</ul>
					</div>
					<div class="server_cont2">
						<ul class="clearfix">
							<li class="server_detl2 fl">
								<div class="marTopF30">
									<!-- <div class="server_imgbg server_img4"></div> -->
									<div class="server_ct">
										<h3>代运营</h3>
										<p class="detl_txt">
											纯代运营：先进的管理模式、完整的体运营系，从策略到执行，帮助企业打造高质量盈利店铺；
											托管运营：通过店铺问题诊断、店铺运营方案、实际店铺运营操作，让您的店铺活起来；
											定制化代运营：根据产品计划，定制推广方案，有效提升销量。
										</p>
									</div>
								</div>
								<div class="marTop180">
									<!-- <div class="server_imgbg server_img5"></div> -->
									<div class="server_ct">
										<h3>营销推广</h3>
										<p class="detl_txt">
											整合营销：高效拓展海外市场，用小投入撬动大回报，帮助企业树立自己的品牌认知，获得外商源源不断的订单，赢得企业差异化的持久发展；
											网站推广：解决企业有好产品却没有好销量、网站没有排名、渠道单一等问题，通过网站优化、关键词及社交媒体，打通你的外貌营销之路。
										</p>
									</div>
								</div>
							</li>
							<li class="server_detl3 fl">
								<img src="images/server_img13.png" alt="">
							</li>
							<li class="server_detl2 fl">
								<div class="marTopF30">
									<!-- <div class="server_imgbg server_img6"></div> -->
									<div class="server_ct">
										<h3>品牌指导</h3>
										<p class="detl_txt">
											跨境王商学院资深电商讲师一对一品牌指导，教会你跨境电商品牌打造全流程；
											专业卖家店铺指导——店铺视觉设计、爆款打造方法、产品运营技巧；
											工厂品牌指导——品牌建设、品牌规划、品牌运营；
											供应链品牌指导——不同行业，不同解决方案。
										</p>
									</div>
								</div>
								<div class="marTop268">
									<!-- <div class="server_imgbg server_img7"></div> -->
									<div class="server_ct">
										<h3>注册账号</h3>
										<p class="detl_txt">
											早申请早注册，轻松开店赚钱；
											注册全球开店，亚马逊、速卖通、Ebay等各大平台均可入驻；
											美国、德国、欧洲等不同国家账号供您选择；
											供应商账号：提供产品分销，卖家分销，平台分销，行业跨境电商品牌独立站。
										</p>
									</div>
								</div>
							</li>
						</ul>
					</div>
				</div>
				
				
				
			 <!--<div class="work_details">
					<table class="work_tableBox " border="1" cellspacing="0" cellpadding="0">
						<tr>
							<th width="20%">学习步骤</th>
							<th>详情</th>
						</tr>
						<tr>
							<td>企业咨询</td>
							<td class="fontStyle">
								专业导师辅导，为您的开店之路保驾护航 <br>
								定制化企业辅导：帮助企业打造具有竞争力的跨境电商企业，从模式、管理、等多角度进行专业辅导。 <br>
								一对一辅导：店铺咨询、团队咨询、产品咨询
							</td>
						</tr>
						<tr>
							<td>品牌指导 </td>
							<td class="fontStyle">
								跨境王商学院资深电商讲师一对一品牌指导，教会你跨境电商品牌打造全流程！ <br>
								专业卖家店铺指导——店铺视觉设计、爆款打造方法、产品运营技巧 <br>
								工厂品牌指导——品牌建设、品牌规划、品牌运营 <br>
								供应链品牌指导——不同行业，不同解决方案
							</td>
						</tr>
						<tr>
							<td>人才输送</td>
							<td class="fontStyle">
								解决企业招聘难、考核难、留人难等问题，帮助您自由快速选择，高匹配专业人才，建设一支能打仗的队伍。 <br>
								高校毕业生——培训1个月上岗，输送实用型人才 <br>
								猎头服务——优质人才资源，输送专业型人才 <br>
								社招服务——卖家转型人才，输送高效型人才
							</td>
						</tr>
						<tr>
							<td>代运营</td>
							<td class="fontStyle">
								纯代运营：先进的管理模式、完整的体运营系，从策略到执行，帮助企业打造高质量盈利店铺 <br>
								托管运营：通过店铺问题诊断、店铺运营方案、实际店铺运营操作，让您的店铺活起来。<br>
								定制化代运营：根据产品计划，定制推广方案，有效提升销量
							</td>
						</tr>
						<tr>
							<td>营销推广</td>
							<td class="fontStyle">
								整合营销：高效拓展海外市场，用小投入撬动大回报，帮助企业树立自己的品牌认知，获得外商源源不断的订单，赢得企业差异化的持久发展。<br>
								网站推广：解决企业有好产品却没有好销量、网站没有排名、渠道单一等问题，通过网站优化、关键词及社交媒体，打通你的外貌营销之路。
							</td>
						</tr>
						<tr>
							<td>产品分销</td>
							<td class="fontStyle">
								供应商：帮助企业寻找优质供应商，找到爆款好产品 <br>
								品牌分销：建立多个品牌分销，产品不愁卖不出销量
							</td>
						</tr>
						<tr>
							<td>注册账号 </td>
							<td class="fontStyle">
								早申请早注册，轻松开店赚钱 <br>
								注册全球开店，亚马逊、速卖通、Ebay等各大平台均可入驻<br>
								美国、德国、欧洲等不同国家账号供您选择 <br>
								供应商账号：提供产品分销，卖家分销，平台分销，行业跨境电商品牌独立站
							</td>
						</tr>
					</table>
					<p class="work_zhus">(针对学习所有人：老板/股东/总经理/负责人、创业卖家、国内天猫淘宝阿里巴巴转型的卖家，工厂/贸易商/加工都可以学习)</p>
				</div>  -->
				
			</div>
		</div>

		<!--中间banner start-->
		<div class="midBanner">
			<div class="midBannerbg">
				<div class="mid_img"></div>
				<div class="mid_cont">
					<ul class="clearfix">
						<li class="mid_details fl">
							<p class="mid_text">一年免费复<br>训学会为止</p>
						</li>
						<li class="mid_details fl">
							<p class="mid_text">实战操作<br>配备电脑账号</p>
						</li>
						<li class="mid_details fl">
							<p class="mid_text">免费协助<br>平台账号注册</p>
						</li>
						<li class="mid_details fl">
							<p class="mid_text">优先提供<br>优质渠道资源</p>
						</li>
						<li class="mid_details fl">
							<p class="mid_text">企业实操讲师<br>面对面授课</p>
						</li>
					</ul>
				</div>

			</div>
		</div>

		<!--导师风采-->
		<div id="idBox">
			<div class="teach_til">
				<p class="teach_txt">培训导师风采</p>
			</div>
			<div class="lider_btn pos-relative">
				<img class="mr_frBtnL prev pos-absolute" src="http://www.iseacat.com/weboms/Template/pc_web/statics/images/prev_zc2.png" width="40" height="80">
				<img class="mr_frBtnR next pos-absolute" src="http://www.iseacat.com/weboms/Template/pc_web/statics/images/next_zc2.png" width="40" height="80" alt="亚马逊开店培训">
			</div>
			<div class="mr_frUl">
				<div style="overflow:hidden; position:relative; width:1055px; margin:0 auto;" class="pxdsqh_4">
					<ul class="teacher_style" style="width: 4642px; position: relative; overflow: hidden; padding: 0px; margin: 0px; left: -211px;" id="teacher">
					






						<li style="float: left; width: 189px;"><a target="_blank" href="http://www.iseacat.com/"><img src="http://www.iseacat.com/weboms/Template/pc_web/statics/images/6.png"
																													  alt="亚马逊全球开店条件"><span class="hmjs">刘海波</span><br><span class="hmjs_l">总裁班讲师<br>海猫跨境总裁<br>海猫跨境创始人</span></a><img
								style="margin:20px auto;" src="http://www.iseacat.com/weboms/Template/pc_web/statics/images/yinying.png"></li>
						<li style="float: left; width: 189px;"><a target="_blank" href="http://www.iseacat.com/"><img src="http://www.iseacat.com/weboms/Template/pc_web/statics/images/ljy.png"
																													  alt="亚马逊新手入门培训" width="130"><span class="hmjs">龙俊宇</span><br><span class="hmjs_l">跨境总裁资本路径讲师<br>汇泽集团董事长<br>广度资本董事长</span></a><img
								style="margin:20px auto;" src="http://www.iseacat.com/weboms/Template/pc_web/statics/images/yinying.png"></li>
						<li style="float: left; width: 189px;"><a target="_blank" href="http://www.iseacat.com/"><img src="http://www.iseacat.com/weboms/Template/pc_web/statics/images/xgh.png"
																													  alt="跨境电商老板课程" width="130"><span class="hmjs">徐国辉</span><br><span class="hmjs_l">跨境总裁资本路径讲师<br>中小企业资本布局实战派讲师<br>汇泽资本商学院院长</span></a><img
								style="margin:20px auto;" src="http://www.iseacat.com/weboms/Template/pc_web/statics/images/yinying.png"></li>
						<li style="float: left; width: 189px;"><a target="_blank" href="http://www.iseacat.com/"><img src="http://www.iseacat.com/weboms/Template/pc_web/statics/images/xiazhao.png"
																													  alt="亚马逊资深运营专家" width="130"><span class="hmjs">夏昭</span><br><span class="hmjs_l">百万美金特训营导师<br>亚马逊资深运营专家<br>某上市跨境公司前任运营总监</span></a><img
								style="margin:20px auto;" src="http://www.iseacat.com/weboms/Template/pc_web/statics/images/yinying.png"></li>
						<li style="float: left; width: 189px;"><a target="_blank" href="http://www.iseacat.com/"><img src="http://www.iseacat.com/weboms/Template/pc_web/statics/images/2.png"
																													  alt="亚马逊开店流程及费用"><span class="hmjs">Frank</span><br><span class="hmjs_l">Amazon讲师<br>高级班高级讲师<br>亚马逊美国站营销资深导师</span></a><img
								style="margin:20px auto;" src="http://www.iseacat.com/weboms/Template/pc_web/statics/images/yinying.png"></li>
						<li style="float: left; width: 189px;"><a target="_blank" href="http://www.iseacat.com/"><img src="http://www.iseacat.com/weboms/Template/pc_web/statics/images/Brandon.png"
																													  alt="深圳亚马逊实操培训"><span class="hmjs">Brandon</span><br><span class="hmjs_l">Amazon讲师<br>高级班高级讲师<br>海猫孵化事业部总教头</span></a><img
								style="margin:20px auto;" src="http://www.iseacat.com/weboms/Template/pc_web/statics/images/yinying.png"></li>
						<li style="float: left; width: 189px;"><a target="_blank" href="http://www.iseacat.com/"><img src="http://www.iseacat.com/weboms/Template/pc_web/statics/images/10.png"
																													  alt="亚马逊培训怎么样"><span class="hmjs">Anna</span><br><span class="hmjs_l">Amazon讲师<br>高级班高级讲师<br>亚马逊全方位运营专家</span></a><img
								style="margin:20px auto;" src="http://www.iseacat.com/weboms/Template/pc_web/statics/images/yinying.png"></li>
						<li style="float: left; width: 189px;"><a target="_blank" href="http://www.iseacat.com/"><img src="http://www.iseacat.com/weboms/Template/pc_web/statics/images/11.png"
																													  alt="跨境电商培训怎么样"><span class="hmjs">陈俊裕</span><br><span class="hmjs_l">Amazon讲师<br>高级班高级讲师<br>亚马逊站外推广资深导师</span></a><img
								style="margin:20px auto;" src="http://www.iseacat.com/weboms/Template/pc_web/statics/images/yinying.png"></li>
						<li style="float: left; width: 189px;"><a target="_blank" href="http://www.iseacat.com/"><img src="http://www.iseacat.com/weboms/Template/pc_web/statics/images/jack.png"
																													  alt="跨境电商运营培训" width="130"><span class="hmjs">Fanny</span><br><span class="hmjs_l">Amazon讲师<br>高级班高级讲师<br>亚马逊实战资深导师</span></a><img
								style="margin:20px auto;" src="http://www.iseacat.com/weboms/Template/pc_web/statics/images/yinying.png"></li>
						<li style="float: left; width: 189px;"><a target="_blank" href="http://www.iseacat.com/"><img src="http://www.iseacat.com/weboms/Template/pc_web/statics/images/9.png"
																													  alt="全球亚马逊开店流程"><span class="hmjs">Lily</span><br><span class="hmjs_l">Amazon讲师<br>基础班高级讲师<br>亚马逊站内优化资深导师</span></a><img
								style="margin:20px auto;" src="http://www.iseacat.com/weboms/Template/pc_web/statics/images/yinying.png"></li>
						<li style="float: left; width: 189px;"><a target="_blank" href="http://www.iseacat.com/"><img src="http://www.iseacat.com/weboms/Template/pc_web/statics/images/James.png"
																													  alt="什么是亚马逊全球开店"><span class="hmjs">James</span><br><span class="hmjs_l">Amazon讲师<br>基础班高级讲师<br>亚马逊全球开店资深导师</span></a><img
								style="margin:20px auto;" src="http://www.iseacat.com/weboms/Template/pc_web/statics/images/yinying.png"></li>
						<li style="float: left; width: 189px;"><a target="_blank" href="http://www.iseacat.com/"><img src="http://www.iseacat.com/weboms/Template/pc_web/statics/images/William(2).png"
																													  alt="跨境电商培训班"><span class="hmjs">William</span><br><span class="hmjs_l">Amazon讲师<br>基础班高级讲师<br>亚马逊店铺运营培训导师</span></a><img
								style="margin:20px auto;" src="http://www.iseacat.com/weboms/Template/pc_web/statics/images/yinying.png"></li>
						<li style="float: left; width: 189px;"><a target="_blank" href="http://www.iseacat.com/"><img src="http://www.iseacat.com/weboms/Template/pc_web/statics/images/Misty.png"
																													  alt="亚马逊新手开店"><span class="hmjs">Misty</span><br><span class="hmjs_l">Amazon讲师<br>基础班高级讲师<br>海猫孵化事业部教官</span></a><img
								style="margin:20px auto;" src="http://www.iseacat.com/weboms/Template/pc_web/statics/images/yinying.png"></li>
						<li style="float: left; width: 189px;"><a target="_blank" href="http://www.iseacat.com/"><img src="http://www.iseacat.com/weboms/Template/pc_web/statics/images/Tony.png"
																													  alt="亚马逊培训好吗"><span class="hmjs">Wendy</span><br><span class="hmjs_l">Amazon讲师<br>基础班高级讲师<br>亚马逊品牌推广资深导师</span></a><img
								style="margin:20px auto;" src="http://www.iseacat.com/weboms/Template/pc_web/statics/images/yinying.png"></li>
						<li style="float: left; width: 189px;"><a target="_blank" href="http://www.iseacat.com/"><img src="http://www.iseacat.com/weboms/Template/pc_web/statics/images/dmm.png"
																													  alt="五年亚马逊资深导师" width="130"><span class="hmjs">Blue</span><br><span class="hmjs_l">Amazon讲师<br>基础班高级讲师<br>亚马逊选品资深导师</span></a><img
								style="margin:20px auto;" src="http://www.iseacat.com/weboms/Template/pc_web/statics/images/yinying.png"></li>
						<li style="float: left; width: 189px;"><a target="_blank" href="http://www.iseacat.com/"><img src="http://www.iseacat.com/weboms/Template/pc_web/statics/images/tait.png"
																													  alt="亚马逊运营讲师" width="130"><span class="hmjs">Tait</span><br><span class="hmjs_l">Amazon讲师<br>高级班高级讲师<br>跨境电商多平台资深导师</span></a><img
								style="margin:20px auto;" src="http://www.iseacat.com/weboms/Template/pc_web/statics/images/yinying.png"></li>
						<li class="clone" style="float: left; width: 189px;"><a target="_blank" href="http://www.iseacat.com/"><img src="http://www.iseacat.com/weboms/Template/pc_web/statics/images/6.png"
																																	alt="亚马逊全球开店条件"><span class="hmjs">刘海波</span><br><span class="hmjs_l">总裁班讲师<br>海猫跨境总裁<br>海猫跨境创始人</span></a><img
								style="margin:20px auto;" src="http://www.iseacat.com/weboms/Template/pc_web/statics/images/yinying.png"></li>
						<li class="clone" style="float: left; width: 189px;"><a target="_blank" href="http://www.iseacat.com/"><img src="http://www.iseacat.com/weboms/Template/pc_web/statics/images/ljy.png"
																																	alt="亚马逊新手入门培训" width="130"><span class="hmjs">龙俊宇</span><br><span class="hmjs_l">跨境总裁资本路径讲师<br>汇泽集团董事长<br>广度资本董事长</span></a><img
								style="margin:20px auto;" src="http://www.iseacat.com/weboms/Template/pc_web/statics/images/yinying.png"></li>
						<li class="clone" style="float: left; width: 189px;"><a target="_blank" href="http://www.iseacat.com/"><img src="http://www.iseacat.com/weboms/Template/pc_web/statics/images/xgh.png"
																																	alt="跨境电商老板课程" width="130"><span class="hmjs">徐国辉</span><br><span class="hmjs_l">跨境总裁资本路径讲师<br>中小企业资本布局实战派讲师<br>汇泽资本商学院院长</span></a><img
								style="margin:20px auto;" src="http://www.iseacat.com/weboms/Template/pc_web/statics/images/yinying.png"></li>
						<li class="clone" style="float: left; width: 189px;"><a target="_blank" href="http://www.iseacat.com/"><img src="http://www.iseacat.com/weboms/Template/pc_web/statics/images/xiazhao.png"
																																	alt="亚马逊资深运营专家" width="130"><span class="hmjs">夏昭</span><br><span class="hmjs_l">百万美金特训营导师<br>亚马逊资深运营专家<br>某上市跨境公司前任运营总监</span></a><img
								style="margin:20px auto;" src="http://www.iseacat.com/weboms/Template/pc_web/statics/images/yinying.png"></li>
						<li class="clone" style="float: left; width: 189px;"><a target="_blank" href="http://www.iseacat.com/"><img src="http://www.iseacat.com/weboms/Template/pc_web/statics/images/2.png"
																																	alt="亚马逊开店流程及费用"><span class="hmjs">Frank</span><br><span class="hmjs_l">Amazon讲师<br>高级班高级讲师<br>亚马逊美国站营销资深导师</span></a><img
								style="margin:20px auto;" src="http://www.iseacat.com/weboms/Template/pc_web/statics/images/yinying.png"></li> 
					</ul>
				</div>
			</div>
		</div>
		<!-- 联系电话-->
	<div class="sideToolBar" style="    height: 115px;">
		<div class="sideToolBarBtn" id="sideToolBarBtn" style="height: 230px;">
	        <div class="sideToolBarBtn2" id="sideToolBarBtn2">
	        	<!--挂载广告图标入口-->
       			<a id="topAdBox" class="topAdBox topAdBoxAnimate topIconBg" href="" target="_blank" style="display: none;"></a>
				<!--<a id="topAdBoxMin" class="topAdBoxMin" href="" target="_blank"></a>-->
	            <div>
	            	<a id="#" class="appDownload" target="_blank" tel="15012677316"><i style="width:200px">林经理:&nbsp;15012677316</i></a>
	                <a href="http://p.qiao.baidu.com/cps/chat?siteId=13567922&userId=28159544" class="qqService">
	                	<i ntkfclient="true" title="">联系客服</i>
	                </a>
	            </div>
	            <a href="javascript:void(0);" class="returnTop" style="display: none;"><!--<i>返回顶部</i>--></a>
	        </div>
	    </div>
	</div>

		<script>
			var len = $('.teacher_style li').length;
			var n=0;
			var i=1;
			$("#idBox").mouseover(function () {
				clearInterval(times);
			});
			$("#idBox").mouseout(function () {
				times = setInterval(function(){
					n++
					if(n == len-4){
						n=0;
						$('.teacher_style').css({left:-211 +'px'})
						return;
					}
					$('.teacher_style').stop().animate({left:-n*211 + 'px'});
					i=n
				},1000)
			});
			//右箭头
			$('.mr_frBtnR').click(function(){
				i++
				if(i == len-4){
					i=1;
					$('.teacher_style').css({left:-211+'px'})
					if(i==1){
						$('.teacher_style').stop().animate({left:-422 + 'px'});
						i=2
					}
					n=i;
					return;
				}
				$('.teacher_style').stop().animate({left:-i*211 + 'px'});
				n=i;
			})
			//左箭头
			$('.mr_frBtnL').click(function(){
				i--
				console.log(i)
				if(i == 0){
					i=len-6;
					console.log(i)
					$('.teacher_style').stop().animate({left:0 + 'px'});
					setTimeout(function(){
						$('.teacher_style').css({left:-i*211 + 'px'});
					},500)
					n=i;
					return;
				}
				$('.teacher_style').stop().animate({left:-i*211 + 'px'});
				n=i;
			})
			//自动轮播
			var times = setInterval(function(){
				n++
				if(n == len-4){
					n=0;
					$('.teacher_style').css({left:-211+'px'})
					return;
				}
				$('.teacher_style').stop().animate({left:-n*211 + 'px'});
				i=n
			},1000)

		</script>

		<!--课程现场-->
		<div class="work">
			<div class="workCont study_cont">
				<div class="workTitle">
					<h2 class="title_mark">往期课程现场</h2>
					<p class="til_txt" id="study_Cont"></p>
				</div>

				<p class="showImg">
					<img class="study_img" src="" alt="往期课程现场">
				</p>
			</div>
		</div>
		<!--预约咨询-->
		<div class="work">
			<div class="workCont zux_tel ">
				<div class="workTitle">
					<h2 class="title_mark">预约咨询</h2>
				</div>

				<div class="zxImg">
					<div class="read_msg clearfix ">
						<p class="read_box fl">
							姓名：<input type="text" class="userNname" id="name">
						</p>
						<p class="read_box fl">
							手机：<input type="text" class="userNname" id="phone">
						</p>
						<div class="read_box fl">
							<select class="chooseMsg" name="address" id="course">
								<option value="">课程选择</option>
								<option value="0">大师班</option>
								<option value="1">特训营</option>
								<option value="2">特战旅</option>
							</select>
						</div>
					</div>
					<div class="read_study">
						<textarea class="idx_youWant" name="jdinfo" id="jdinfo" placeholder="想要通过课程学到什么："></textarea>
					</div>
					<div class="submitbtn" id="submitbtn">
						<span>立即预约</span>
						<p>不信命，只信双手去苦拼</p>
					</div>
				</div>
			</div>
		</div>
		<!-- 讲师团队开始 -->
		<div id="eightlayer">
			<script type="text/javascript" src="js/lrscroll.js"></script>
			<div class="bissBox">
				<div class="biss_til">
					<p class="biss_txt">亚马逊优质合作商</p>
				</div>
				<div class="content">
					<div class="Box_con clearfix">
						
						<div class="conbox" id="BoxUl">
							<ul style=" left: 0px;    overflow: hidden;" id="hezuo">
								
								<li class="cur"><img src="images/jqh_bis3.jpg" alt="洛辰 "><p>洛辰 </p></li>
								<li class="cur"><img src="images/jqh_bis4.jpg" alt="Jerry"><p>Jerry</p></li>
								<li class="cur"><img src="images/jqh_bis5.jpg" alt="苑萌"><p>苑萌</p></li>
								<li class="cur"><img src="images/jqh_bis6.jpg" alt="Linda"><p>Linda</p></li>
								<li class="cur"><img src="images/jqh_bis7.jpg" alt="任星泉"><p>任星泉</p></li>
								<li class="cur"><img src="images/jqh_bis8.jpg" alt="Nikki"><p>Nikki</p></li>
								<li class="cur"><img src="images/jqh_bis9.jpeg" alt="莫寒"><p>莫寒</p></li>
								<li class="cur"><img src="images/jqh_bis10.jpeg" alt="梅星星"><p>梅星星</p></li>
								<li class="cur"><img src="images/jqh_bis11.jpg" alt="Daisy"><p>Daisy</p></li>
								<li class="cur"><img src="images/jqh_bis12.png" alt="Cathy"><p>Cathy</p></li> 
							</ul>
						</div>
					</div>
				</div>
			</div>
			<script type="text/javascript">
                LbMove('BoxUl','btnl','btnr','BoxSwitch',true,'left',true, 160,1000,5000,7);
			</script>
			<div class="clearfix"></div>
		</div>
		<!--新闻中心-->
		<div class=" ">
			<div class="workCont work_news">
				<div class="workTitle">
					<h2 class="title_mark">新闻中心</h2>
				</div>
				<div class="news_nav">
					<ul>
						<li class="on">一周爆闻</li>
						<li>新手开店</li>
						<li>精选干货</li>
						<li>电商资讯</li>
					</ul>
				</div>
				<div class="news_cont">
					<div class="showNwes clearfix">
						<div class="cont_left fl" id="holdnews">
							
						</div>
						<div class="cont_right fr" >
							<ul class="news_list" id="weeknews">
							
							</ul>
							<p class="seemall">
								<a onclick=openSeeMore("1") target="_blank" title="查看更多">查看更多</a>
							</p>
						</div>
					</div>
					<div class="showNwes clearfix dsn">
						<div class="cont_left fl" id="holdnews2">
							
						</div>
						<div class="cont_right fr" >
							<ul class="news_list" id="weeknews2">
							
							</ul>
							<p class="seemall">
								<a onclick=openSeeMore("1") target="_blank" title="查看更多">查看更多</a>
							</p>
						</div>
					
					</div>
					<div class="showNwes clearfix dsn">
						<div class="cont_left fl" id="holdnews3">
							
						</div>
						<div class="cont_right fr" >
							<ul class="news_list" id="weeknews3">
							
							</ul>
							<p class="seemall">
								<a onclick=openSeeMore("1") target="_blank" title="查看更多">查看更多</a>
							</p>
						</div>
					</div>
					<div class="showNwes clearfix dsn">
						<div class="cont_left fl" id="holdnews4">
							
						</div>
						<div class="cont_right fr" >
							<ul class="news_list" id="weeknews4">
							
							</ul>
							<p class="seemall">
								<a onclick=openSeeMore("1") target="_blank" title="查看更多">查看更多</a>
							</p>
						</div>
					</div>
				</div>
			</div>
		</div>

		<!--合作服务商-->

		<!--友情链接及foot-->
		<div class="foot_cont_details">
			<div class="hp_bootm">
				<div class="hp_link">
					<div class="hp_link_title">
						友情链接
					</div>
					<div class="hp_link_list">

						<a href="http://www.amzpj.com" target="_blank">亚马逊Review</a>

						<a href="http://www.amz123.com/" target="_blank">亚马逊导航</a>

						<a href="http://www.xsdgjyy.com/" target="_blank">武汉托福培训</a>

						<a href="http://www.luang88.com" target="_blank">蛋糕培训学校</a>

						<a href="http://ty.jiaoyubao.cn/" target="_blank">太原培训</a>

						<a href="http://www.baitengzc.com/" target="_blank">vat注册</a>

						<a href="http://training.ieduchina.com/" target="_blank">留学考试</a>

						<a href="http://www.kaonsd.com/" target="_blank">南师大考研</a>

						<a href="http://www.px5a.com" target="_blank">南昌电脑培训</a>

						<a href="http://www.hnmeishu.com" target="_blank">美术高考网</a>

						<a href="http://www.hefeihuli.cn" target="_blank">合肥卫校</a>

						<a href="http://www.lmyujia.com" target="_blank">瑜伽教练培训</a>

						<a href="http://hlj.kaoyan365.cn/" target="_blank">黑龙江考研网</a>

						<a href="http://www.xtbenet.com" target="_blank">南京北大青鸟</a>

						<a href="http://www.qgjshi.com/" target="_blank">中小学教师</a>

						<a href="http://www.gzdangaopeixun.com" target="_blank">蛋糕培训</a>

						<a href="http://www.seeree.net/" target="_blank">西安雅思培训</a>

					</div>
				</div>
			</div>

			<!--Footer-->
			<div class="jqh_foot">
				<div class="foot_cont clearfix">
					<div class="foot_lrft fl">
						<div class="left_cont_msg">
							<div class="foot_box clearfix">
								<div class="box_list fl">
									<h1>精品课程</h1>
									<a href="/Product/index/id/30.html">华南区</a>
									<a href="/Product/index/id/31.html">华东区</a>
								</div>
								<div class="box_list fl">
									<h1>人才孵化</h1>
									<a href="/Hatch/index/id/1.html">人才输送</a>
									<a href="/Hatch/index/id/13.html">高校合作</a>
								</div>
								<div class="box_list fl">
									<h1>资源与服务</h1>
									<a href="/Service/index/id/14.html">建模渲染</a>
									<a href="/Service/index/id/11.html">代运营</a>
									<a href="/Service/info/id/13.html">资源共享</a>
								</div>
								<div class="box_list fl">
									<h1>直播与沙龙</h1>
									<a href="/Support/index/id/17.html">直播</a>
									<a href="/Support/index/id/19.html">公开课</a>
									<a href="/Support/index/id/18.html">沙龙</a>
								</div>
								<div class="box_list fl">
									<h1>资讯与干货</h1>
									<a href="/News/index/id/6.html">学院新闻</a>
									<a href="/News/index/id/8.html">精选干货</a>
									<a href="/News/index/id/9.html">新手开店</a>
									<a href="/News/index/id/10.html">行业资讯</a>
								</div>
								<div class="box_list fl">
									<h1>关于我们</h1>
									<a  href="/About/index/id/1.html">学院介绍</a>
									<a  href="/About/team.html">讲师介绍</a>
									<a href="/About/join.html">加入我们</a>
									<a  href="/About/contact.html">联系我们</a>
								</div>
							</div>
						
						</div>
					</div>
					<div class="foot_right fr">
						<div class="right_box">
							<ul class="">
								<h1>联系方式</h1>
								<li style="background: url(images/jqh_foot3.jpg) left no-repeat;">0755 - 2101 5425</li>
								<li style="background: url(images/jqh_foot4.jpg) left no-repeat;">深圳市龙华新区上塘淘金地大厦E座701</li>
								<li style="background: url(images/jqh_foot5.jpg) left no-repeat;">0755 - 2101 5425</li>
								<li style="background: url(images/jqh_foot6.jpg) left no-repeat;">christina@senmulife.com</li>
							</ul>
						
						</div>
					</div>
				</div>
				<div class="foot_btm_msg">
					<div class="btm_msg_box">
						Copyright @ 2017 深圳市黑色星期五电子商务有限公司 <a style="color:#aaa" href="http://www.miitbeian.gov.cn/publish/query/indexFirst.action">粤ICP备17051785号-1</a>
						技术支持：   <a style="color:#aaa" href="http://szfangwei.cn">方维网络</a>
					</div>
				</div>
			</div>
			<div class="titlemsg"  style="display: none;"> 
				<div id="st_mask" style="width: 100%;height: 100%;background: rgba(0, 0, 0, 0.4);position: fixed;left: 0px;top: 0px;z-index: 4;display: block;"></div>
				<div id="st_alertBox" style="width: 100%; position: fixed; left: 0px; top: 34%; text-align: center; z-index: 5; display: block;">
					<div id="st_alert"  onlick="close()" style="width: 30%; margin: 0px auto; background: rgb(255, 255, 255); border-radius: 2px; overflow: hidden; padding-top: 40px; text-align: center;">
						<span id="st_alert_text" style="background: rgb(255, 255, 255); overflow: hidden; padding: 15px 8px 30px; text-align: center; display: block;"></span>
						<span id="st_alert_btn"  style="background: rgb(27, 121, 248); color: rgb(255, 255, 255); padding: 8px; text-align: center; display: block; width: 40%; margin: 0px auto 20px; border-radius: 2px; overflow: hidden; text-overflow: ellipsis; white-space: nowrap;">确定</span>
					</div>
				</div>
			</div>
		</div>

	</div>

</body>
<script>
		$(function () {
			$(".news_nav li").mouseenter(function (e) {
				$(this).addClass("on").siblings().removeClass("on");
				var i=$(this).index();
				getselect(i)
				homeselect(i)
				$(".news_cont .showNwes").eq(i).show().siblings().hide();
			});
			$(".list_wrap").hover(function () {
				$(this).find(".right_show_cont").show()
			},function () {
				
				$(this).find(".right_show_cont").hide()
			});
			//提交预约数据
			$("#submitbtn").click(function(){
				var name =	$("#name").val();
				var phone =	$("#phone").val();
				var jdinfo =$("#jdinfo").val();
				var course =$("#course").val()
			if(Validate(name,phone,jdinfo,course)){
				ajasPost(name,phone,jdinfo,course);
			}
			
			})
			$("#st_alert").click(function(){
				$(".titlemsg").hide();
			})
		
			var sUserAgent = navigator.userAgent.toLowerCase();
			var bIsIpad = sUserAgent.match(/ipad/i) == "ipad";
			var bIsIphoneOs = sUserAgent.match(/iphone os/i) == "iphone os";
			var bIsMidp = sUserAgent.match(/midp/i) == "midp";
			var bIsUc7 = sUserAgent.match(/rv:1.2.3.4/i) == "rv:1.2.3.4";
			var bIsUc = sUserAgent.match(/ucweb/i) == "ucweb";
			var bIsAndroid = sUserAgent.match(/android/i) == "android";
			var bIsCE = sUserAgent.match(/windows ce/i) == "windows ce";
			var bIsWM = sUserAgent.match(/windows mobile/i) == "windows mobile";
			if (bIsIpad || bIsIphoneOs || bIsMidp || bIsUc7 || bIsUc || bIsAndroid || bIsCE || bIsWM) {
					$('body').css("width","100%");
					$('.foot_cont_details').hide();
			}
			getselect("0")
			homeselect("0")
			subject()
			hezuo()
			teacher()
			study()

		})
		
		function getselect (index){
			var index= ++index
		//查询新闻列表
			$.ajax({
				url : "http://www.szjqh.cn/news/find/1/20/"+index+"",
				type : "get",
				success : function(data) {
					var htmlObj = []
					data = data.datas.reverse()
					data=data.slice(0,3)
					var urlpath ="http://www.szjqh.cn/base/userFiles/"
					if(data.length>0){
						for(var i=0 ;i<data.length;i++){
						  html='<li class="list_wrap clearfix">'+
									'<p class="f_title fl">'+data[i].nstitle.replace(/<[^>]+>/g,"")+'</p>'+
									'<a class="fr" href='+urlpath+''+data[i].nfpath+'>'+
										'<div class="news_right_cont clearfix">'+
											'<p class="right_date fl">'+
												'<span class="news_day">'+getNowFormatDate(data[i].ndate,'0')+'</span>'+
												'<span class="news_year">'+getNowFormatDate(data[i].ndate,'1')+'</span>'+
												'</p>'+
											'<p class="right_news fl">'+
												'<span class="right_tile">'+data[i].ntitle.replace(/<[^>]+>/g,"")+'</span>'+
												'<span class="right_detail">'+data[i].ncontent.replace(/<[^>]+>/g,"").substring(0,100)+'</span>'+
											'</p>'+
										'</div>'+
										'<div class="right_show_cont">'+
											'<p class="show_cont_titl">'+data[i].ntitle.replace(/<[^>]+>/g,"")+'</p>'+
											'<p class="show_cont_detail">'+data[i].ncontent.replace(/<[^>]+>/g,"")+'</p>'+
										'</div>'+
									'</a>'+
								'</li>'
								htmlObj.push(html)
						}
								

							$(".news_cont ul").eq(--index).html(htmlObj.join(''))
					}else{
							$(".news_cont ul").eq(--index).html("<div style='text-align: center'>暂无数据<div>")

					}
				}
			});
			
		}
		function homeselect(index){
			var index = ++index
		//新闻主题
			$.ajax({
				url : "http://www.szjqh.cn/news/find/1/20/"+index+"",
				type : "get",
				success : function(data) {
					data = data.datas.reverse()
					data=data.slice(0,1)
					var urlpath ="http://www.szjqh.cn/base/userFiles/"
					if(data[0].ncontent.match(/<img\s+src=(\S+)>/ig)!=null&&data[0].ncontent.match(/<img\s+src=(\S+)>/ig)!=''&&data[0].ncontent.match(/<img\s+src=(\S+)>/ig)!=""){
						var img = data[0].ncontent.match(/<img\s+src=(\S+)>/ig)[0]
					}else{
						var img = "<img class='cont_img' src='images/jqh.png' >"

					}
					if(data.length>0){
						var html='<h3 class="nwes_date">'+getNowFormatDate(data[0].ndate,'0')+'</h3>'+
							'<p class="news_til">'+data[0].ntitle.replace(/<[^>]+>/g,"")+'</p>'+
							'<p class="news_txt">'+data[0].ncontent.replace(/<[^>]+>/g,"").substring(0,100)+'</p>'+
							'<p class="news_img">'+img+'</p>'
							'<p class="news_btn">'+
								'<a class="news_detail" href='+urlpath+''+data[0].nfpath+' target="_blank" title="查看详细">查看详细</a>'+
							'</p>'
						$(".news_cont .cont_left").eq(--index).html(html)
					}else{
						$(".news_cont .cont_left").eq(--index).html("<div style='text-align: center'>暂无数据<div>")
					}
						  
				}
			});
		}
		function subject(index){
		//课程
			$.ajax({
				url : "http://www.szjqh.cn/kecheng/queryAll",
				type : "get",
				success : function(data) {
					var data = data.datas
					var htmlObj = []

					if(data.length>0){
						for(var i=0 ;i<data.length;i++){
						var html='<li class=" fl"><h2>'+data[i].cname+'</h2>'+
							'<p class="cps_txy">'+data[i].miaoshu1+'</p>'+
							'<p class="bw_txy">'+data[i].miaoshu2+'</p>'+
							'<p class="txy_title">'+data[i].mniaoshu3+'</p>'+
							'<p class="txy_fbt">'+data[i].miaoshu4+'</p>'+
							'<p class="txy_pir">'+data[i].cmoney+'</p>'+
							'<p class="txy_dirc">'+data[i].tese1+'<br>'+data[i].tese2+''+'<br>'+data[i].tese3+'</p>'
							'</li>'
							htmlObj.push(html)
						}
						$("#subject").html(htmlObj.join(''))
					}
						  
				}
			});
		}
		function teacher(index){
		//老师
			$.ajax({
				url : "http://www.szjqh.cn/teacher/queryAll",
				type : "get",
				success : function(data) {
					var data = data.datas
					var htmlObj = []
				
					if(data.length>0){
						
						for(var i=0 ;i<data.length;i++){
						var html='<li class="clone" style="float: left; width: 189px;"><a target="_blank" href="#"><img src='+getImgUrl(data[i].tphoto)+' alt="亚马逊运营讲师" width="130">'+
							'<span class="hmjs">'+data[i].tname+'</span><br><span class="hmjs_l">'+data[i].ttype+'<br>'+data[i].tleave+'<br>跨境电商多平台资深导师</span>'+
							'</a></li>'
							htmlObj.push(html)
						}
						$("#teacher").html(htmlObj.join(''))
					}
						  
				}
			});
		}
		function hezuo(index){
		//合作
			$.ajax({
				url : "http://www.szjqh.cn/hezuo/queryAll",
				type : "get",
				success : function(data) {
					var data = data.datas
					var htmlObj = []
					if(data.length>0){
						for(var i=0 ;i<data.length;i++){

						var html='<li class="cur">'+
							'<img src='+getImgUrl(data[i].hzphoto)+'>'+
							'<p>'+data[i].hzname+'</p>'+
							'</li>'
							htmlObj.push(html)
						}
						$("#hezuo").html(htmlObj.join(''))
					}
						  
				}
			});
		}
		function study(index){
			$.ajax({
				url : "http://www.szjqh.cn/wqxc/queryAll",
				type : "get",
				success : function(data) {
				
					var data = data.datas
					$(".study_img")[0].src=	getImgUrl(data[0].wqphoto)
					$("#study_Cont").text=data[0].wqjieshao1
				
				}
			});
		}

		function getImgUrl (url){
		  return 'http://www.szjqh.cn/base/userFiles/'+url

		}


		function getNowFormatDate(data,index) {
				var date = new Date(data);
				var seperator1 = "-";
				var year = date.getFullYear();
				var month = date.getMonth() + 1;
				var strDate = date.getDate();
				if (month >= 1 && month <= 9) {
					month = "0" + month;
				}
				if (strDate >= 0 && strDate <= 9) {
					strDate = "0" + strDate;
				}
				if(index=='0'){
					var currentdate =  month + seperator1 + strDate;

				}else{
					var currentdate =  year;

				}
				return currentdate;
		}

		function ajasPost(name,phone,jdinfo,course){
			
			$.post("http://www.szjqh.cn/lm/save",{"lname":name,"lphone":phone,"lmsg":jdinfo,"ltype":course},function(result){
					if(result.code=='1000'){
						$(".titlemsg").show();

						$("#st_alert_text").text("课程顾问即将给您电话联系")
					}else{
							$(".titlemsg").show();

						$("#st_alert_text").text("服务器异常请稍后再试")

					}
					

				});
		}
		function openNewsDetails(newsDetailsID){
			var url ="http://www.szjqh.cn/template/newsDetails.html"
			sessionStorage.setItem("newsDetailsID",newsDetailsID)
			window.location.href =url

		}
		function openSeeMore(seeMoreID){
			var url ="http://www.szjqh.cn/template/seeMore.html"
			sessionStorage.setItem("seeMoreID",seeMoreID)
			window.location.href =url

		}
		function Validate(name,phone,jdinfo,course){
			if(name==''||name==null||name==undefined){
					$(".titlemsg").show();
					$("#st_alert_text").text("请输入姓名")
					return false;
			}
			if(phone==''||phone==null||phone==undefined){
					$(".titlemsg").show();
					$("#st_alert_text").text("请输入手机号")
					return false;
			}
			
			if (!/^1[3456789]\d{9}$/.test(phone)) {
					$(".titlemsg").show();
					$("#st_alert_text").text("请输入正确的手机号")
					return false;
				}
			if(jdinfo==''||jdinfo==null||jdinfo==undefined){
					$(".titlemsg").show();
					$("#st_alert_text").text("请选择咨询内容")
					return false;
			}
			if(course==''||course==null||course==undefined){
					$(".titlemsg").show();
					$("#st_alert_text").text("请选择课程")
					return false;
			}
			return true
	}
	


	
	
	
	
	
	
	
	
	
</script>

</html>