<!DOCTYPE HTML>
<html>
	<head>
		<title>更多新闻</title>
		<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
		<meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
		<link href='http://fonts.googleapis.com/css?family=Open+Sans:400,600' rel='stylesheet' type='text/css'>
		<link href="http://www.szjqh.cn/css/style.css" rel="stylesheet" type="text/css" media="all" />
		<script type="text/javascript" src="http://www.szjqh.cn/js/jquery.min.js"></script>
		<link rel="stylesheet" type="text/css" href="http://www.szjqh.cn/css/royalSlider.css" />
		<script type="text/javascript" src="http://www.szjqh.cn/js/royalSlider.min.js"></script>
		<script type="text/javascript" src="http://www.szjqh.cn/js/banner.js"></script>
	</head>
	<body>

		<div class="header_bg">

			<!--header-->
			<div class="wrap">
				<div class="header">
					<div class="logo clearfix">
						<img class="jqh_logo fl" src="http://www.szjqh.cn/images/jqh_logo.png" alt="聚企汇logo">
						<p class="title_right fr">
							<span class="title_txt">免费试学全国报名热线</span>
							<span id="wchatphone" style="color: red;font-size: 24px;"></span>
						</p>
						<!--<a href="index.html"><img src="images/logo.png" alt=""/> </a>-->
					</div>

					<!--导航-->
					<div class="nav">
						<ul class="cantainer">
							<li><a href="/">首页</a></li>
							<li>
								<a href="http://www.szjqh.cn/template/rencaishuchu.html">跨境电商人才服务</a>
								<ul>
									<li><a href="http://www.szjqh.cn/template/rencaishuchu.html">  跨境电商人才输送</a></li>
									
	
								</ul>
							</li>
							<li>
								<a href="#">跨境电商培训</a>
								<ul>
									<li><a href="http://www.szjqh.cn/template/peixun.html">亚马逊实操班</a></li>
									<li><a href="http://www.szjqh.cn/template/advanced.html">亚马逊运营</a></li>
									<li><a href="http://www.szjqh.cn/template/oyy.html">亚马逊孵化班</a></li>
	
									<li><a href="http://www.szjqh.cn/template/practice.html">亚马逊定制班</a></li>
	
	
								</ul>
							</li>
							<li>
								<a href="http://www.szjqh.cn/template/zongheyewu.html">跨境电商综合服务</a>
								<ul>
									<li><a href="http://www.szjqh.cn/template/zongheyewu.html">电商综合服务</a></li>
									
	
								</ul>
							
							</li>
							<li>
								<a href="http://www.szjqh.cn/template/seeMore.html">新闻中心</a>
								<ul>
									<li><a href="http://www.szjqh.cn/template/seeMore.html">一周爆闻</a></li>
									<li><a href="http://www.szjqh.cn/template/seeMore.html">新手开店</a></li>
									<li><a href="http://www.szjqh.cn/template/seeMore.html">精选干货</a></li>
									<li><a href="http://www.szjqh.cn/template/seeMore.html">电商资讯</a></li>
	
								</ul>
							</li>
							<li>
								<a href="http://www.szjqh.cn/template/xueyuanjieshao.html">关于我们</a>
								<ul>
									<li><a href="http://www.szjqh.cn/template/xueyuanjieshao.html">企业简介</a>
									</li><li><a href="#idBox">导师风采</a></li>
									<li><a href="#">联系我们</a></li>
									<li><a href="#">企业荣誉</a></li>
							
								</ul>
							</li>
							<!-- <li class="list02">
								<a href="/" target="_blank">分院站点</a>
								<ul>
									<li><a href="/about/hz.html" title="杭州">杭州</a></li>
									<li><a href="/about/st.html" title="汕头">汕头</a></li>
									<li><a href="/about/environment.html" class="on" title="深圳">深圳</a></li>
									<li><a href="/about/environment-longhua.html" title="武汉">武汉</a></li>
									<li><a href="/about/environment-baoan.html" title="东莞">东莞</a></li>
									<li><a href="/about/gz.html" title="广州">广州</a></li>
									<li><a href="/about/jx.html" title="华东">华东</a></li>
								</ul>
							</li> -->
							
						</ul>
					</div>
					<div class="clear"></div>
				</div>
			</div>

			<!-- 横幅开始 -->
			<div class="banner">
				<div class="slick-slider">
					<a href=""><img class="rsImg" src="http://www.szjqh.cn/images/jqh_banner1.jpg" alt="" /></a>
					<a href=""><img class="rsImg" src="http://www.szjqh.cn/images/jqh_banner2.jpg" alt="" /></a>
					<a href=""><img class="rsImg" src="http://www.szjqh.cn/images/jqh_banner3.jpg" alt="" /></a>
					<a href=""><img class="rsImg" src="http://www.szjqh.cn/images/jqh_banner4.jpg" alt="" /></a>
				</div>
			</div>

			<!--新闻中心-->
			<div class=" ">
				<div class="workCont work_news">
					<div class="news_nav">
						<ul>
							<li class="on">一周爆闻</li>
							<li>新手开店</li>
							<li>精选干货</li>
							<li>电商资讯</li>
						</ul>
					</div>
					<div class="newsitem-wrap">
						<div class="listnew"></div>
						<div class="newsmorenav">
							<a class="a_1" onclick="getpost(0)">上一页</a> 
							&nbsp;&nbsp;&nbsp;
							<a class="a_1" onclick="getpost(1)">下一页</a> 
						</div>
					</div>
								
								
					
					
				</div>
			</div>

			<script>
				$(function() {
					$(".news_nav li").mouseenter(function(e) {
						$(this).addClass("on").siblings().removeClass("on");
						var i = $(this).index();
						$(".news_cont .showNwes").eq(i).show().siblings().hide();
					});
					$(".news_nav li").click(function(e) {
						$(this).addClass("on").siblings().removeClass("on");
						var i = $(this).index();
						$(".news_cont .showNwes").eq(i).show().siblings().hide();
						var i = ++i
						sessionStorage.setItem("seeMoreID",i)
						window.location.href="http://www.szjqh.cn/template/seeMore.html"
					});

				})
			</script>

			<!--友情链接及foot-->
			<div class="foot_cont_details">
				<div class="hp_bootm">
					<div class="hp_link">
						<div class="hp_link_title">
							友情链接
						</div>
						<div class="hp_link_list">

							<a href="http://www.amzpj.com" target="_blank">亚马逊Review</a>

							<a href="http://www.amz123.com/" target="_blank">亚马逊导航</a>

							<a href="http://www.xsdgjyy.com/" target="_blank">武汉托福培训</a>

							<a href="http://www.luang88.com" target="_blank">蛋糕培训学校</a>

							<a href="http://ty.jiaoyubao.cn/" target="_blank">太原培训</a>

							<a href="http://www.baitengzc.com/" target="_blank">vat注册</a>

							<a href="http://training.ieduchina.com/" target="_blank">留学考试</a>

							<a href="http://www.kaonsd.com/" target="_blank">南师大考研</a>

							<a href="http://www.px5a.com" target="_blank">南昌电脑培训</a>

							<a href="http://www.hnmeishu.com" target="_blank">美术高考网</a>

							<a href="http://www.hefeihuli.cn" target="_blank">合肥卫校</a>

							<a href="http://www.lmyujia.com" target="_blank">瑜伽教练培训</a>

							<a href="http://hlj.kaoyan365.cn/" target="_blank">黑龙江考研网</a>

							<a href="http://www.xtbenet.com" target="_blank">南京北大青鸟</a>

							<a href="http://www.qgjshi.com/" target="_blank">中小学教师</a>

							<a href="http://www.gzdangaopeixun.com" target="_blank">蛋糕培训</a>

							<a href="http://www.seeree.net/" target="_blank">西安雅思培训</a>

						</div>
					</div>
				</div>

				<!--Footer-->
				<div class="jqh_foot">
					<div class="foot_cont clearfix">
						<div class="foot_lrft fl">
							<div class="left_cont_msg">
								<div class="foot_box clearfix">
									<div class="box_list fl">
										<h1>首页</h1>
									
									</div>
									<div class="box_list fl">
										<h1>跨境电商人才服务</h1>
										<a href="#">跨境电商人才输送</a>
	
									</div>
									<div class="box_list fl">
										<h1>跨境电商培训</h1>
										<a href="/Service/index/id/14.html">亚马逊实操班</a>
										<a href="/Service/index/id/11.html">亚马逊运营</a>
										<a href="/Service/info/id/13.html">亚马逊孵化班</a>
										<a href="/Service/info/id/13.html">亚马逊定制班</a>
	
									</div>
									<div class="box_list fl">
										<h1>跨境电商综合服务</h1>
										<a href="#">电商综合服务</a>
									</div>
									<div class="box_list fl">
										<h1>新闻中心</h1>
										<a href="/News/index/id/6.html">一周爆闻</a>
										<a href="/News/index/id/8.html">新手开店</a>
										<a href="/News/index/id/9.html">精选干货</a>
										<a href="/News/index/id/10.html">电商资讯</a>
									</div>
									<div class="box_list fl">
										<h1>关于我们</h1>
										<a  href="/About/index/id/1.html">企业简介</a>
										<a  href="/About/team.html">导师风采</a>
										<a href="/About/join.html">联系我们</a>
										<a  href="/About/contact.html">企业荣誉</a>
									</div>
								</div>
							
							</div>
						</div>
						<div class="foot_right fr">
							<div class="right_box">
								<ul class="">
									<h1>联系方式</h1>
									<li style="background: url(images/jqh_foot3.jpg) left no-repeat;" id="wzuoji">0755 - 2101 5425</li>
									<li style="background: url(images/jqh_foot4.jpg) left no-repeat;" id="waddress">深圳市龙华新区上塘淘金地大厦E座701</li>
									<li style="background: url(images/jqh_foot5.jpg) left no-repeat;" id="wchuanzhen">0755 - 2101 5425</li>
									<li style="background: url(images/jqh_foot6.jpg) left no-repeat;" id="wemail">christina@senmulife.com</li>
								</ul>
							
							</div>
						</div>
					</div>
					<div class="foot_btm_msg">
					<div class="btm_msg_box">
					Copyright @ 2019 深圳市聚企汇有限公司 <a style="color:#aaa" href="http://www.miitbeian.gov.cn/publish/query/indexFirst.action">粤ICP备19087984号</a>
				</div>
					</div>
				</div>
				<div class="titlemsg"  style="display: none;"> 
					<div id="st_mask" style="width: 100%;height: 100%;background: rgba(0, 0, 0, 0.4);position: fixed;left: 0px;top: 0px;z-index: 4;display: block;"></div>
					<div id="st_alertBox" style="width: 100%; position: fixed; left: 0px; top: 34%; text-align: center; z-index: 5; display: block;">
						<div id="st_alert"  onlick="close()" style="width: 30%; margin: 0px auto; background: rgb(255, 255, 255); border-radius: 2px; overflow: hidden; padding-top: 40px; text-align: center;">
							<span id="st_alert_text" style="background: rgb(255, 255, 255); overflow: hidden; padding: 15px 8px 30px; text-align: center; display: block;"></span>
							<span id="st_alert_btn"  style="background: rgb(27, 121, 248); color: rgb(255, 255, 255); padding: 8px; text-align: center; display: block; width: 40%; margin: 0px auto 20px; border-radius: 2px; overflow: hidden; text-overflow: ellipsis; white-space: nowrap;">确定</span>
						</div>
					</div>
				</div>
				<div class="titlemsg"  style="display: none;"> 
				<div id="st_mask" style="width: 100%;height: 100%;background: rgba(0, 0, 0, 0.4);position: fixed;left: 0px;top: 0px;z-index: 4;display: block;"></div>
				<div id="st_alertBox" style="width: 100%; position: fixed; left: 0px; top: 34%; text-align: center; z-index: 5; display: block;">
					<div id="st_alert"  onlick="close()" style="width: 30%; margin: 0px auto; background: rgb(255, 255, 255); border-radius: 2px; overflow: hidden; padding-top: 40px; text-align: center;">
						<span id="st_alert_text" style="background: rgb(255, 255, 255); overflow: hidden; padding: 15px 8px 30px; text-align: center; display: block;"></span>
						<span id="st_alert_btn"  style="background: rgb(27, 121, 248); color: rgb(255, 255, 255); padding: 8px; text-align: center; display: block; width: 40%; margin: 0px auto 20px; border-radius: 2px; overflow: hidden; text-overflow: ellipsis; white-space: nowrap;">确定</span>
					</div>
				</div>
			</div>


				<!--/Footer-->

			</div>

		</div>

	</body>
	<script>
		$(function () {
					 pagesize1 = 1

				var pagesize = 1
				id = sessionStorage.getItem("seeMoreID")
				$(".news_nav li").removeClass()
				$(".news_nav li").eq(--id).addClass("on")
				++id
				$.ajax({
				url :"http://www.szjqh.cn/news/find/"+pagesize+"/5/"+id+"",
					type : "get",
					success : function(data) {
						var htmlObj = []
						var urlpath ="http://www.szjqh.cn/base/userFiles/"

						if(data.datas.length>0){
						data = data.datas.reverse()

						for(var i=0 ;i<data.length;i++){
							if(data[i].ncontent.match(/<img\s+src=(\S+)>/ig)!=null&&data[i].ncontent.match(/<img\s+src=(\S+)>/ig)!=''&&data[i].ncontent.match(/<img\s+src=(\S+)>/ig)!=""){
									var img = data[i].ncontent.match(/<img\s+src=(\S+)>/ig)[0]
								}else{
									var img = "<img class='cont_img' src='http://www.szjqh.cn/images/jqh.png' >"

								}
							   html='<div class="newsitem"><a href='+urlpath+''+data[i].nfpath+'>'+
									'<div class="box clearfix">'+
									'<div class="img_1">'+
										'<div style="width: 460px;max-width: 100%;display: flex;align-items: center;">'+img+'</div>'+
									'</div>'+
									'<div class="mewsmoretext">'+
									'<span>'+getNowFormatDate(data[i].ndate,'0')+'</span>'+
									'<h1>'+data[i].ntitle.replace(/<[^>]+>/g,"")+'</h1>'+
									'<article style="font-size:18px">'+data[i].ncontent.replace(/<[^>]+>/g,"").substring(0,200)+' </article>'+
									'</div>'+
								'</div>'+
							'</a></div>'
								htmlObj.push(html)
						}
								

							$(".listnew").html(htmlObj.join(''))
					}else{
							

					}
			
					}
				});
				$("#st_alert").click(function(){
					$(".titlemsg").hide();
				})
		})
	
	

		function  getpost(num){
			
			if(num=='1'){
				++pagesize1
			}else if(num=='0'){
				--pagesize1
			}else{
			
			}
			id = sessionStorage.getItem("seeMoreID")
			$(".news_nav li").removeClass()
			$(".news_nav li").eq(--id).addClass("on")
			++id
			
			$.ajax({
				url :"http://www.szjqh.cn/news/find/"+pagesize1+"/5/"+id+"",
				type : "get",
				success : function(data) {
					var htmlObj = []
					var urlpath ="http://www.szjqh.cn/base/userFiles/"

					if(data.code=='1000'){
						if(data.datas.length>0){
							data = data.datas.reverse()
							for(var i=0 ;i<data.length;i++){
								if(data[i].ncontent.match(/<img\s+src=(\S+)>/ig)!=null&&data[i].ncontent.match(/<img\s+src=(\S+)>/ig)!=''&&data[i].ncontent.match(/<img\s+src=(\S+)>/ig)!=""){
								var img = data[i].ncontent.match(/<img\s+src=(\S+)>/ig)[0]
									}else{
											var img = "<img class='cont_img' src='http://www.szjqh.cn/images/jqh.png' >"

							}
								   html='<div class="newsitem"><a href='+urlpath+''+data[i].nfpath+'>'+
										'<div class="box clearfix">'+
										'<div class="img_1">'+
										'<div style="width: 460px;max-width: 100%;display: flex;align-items: center;">'+img+'</div>'+
										'</div>'+
										'<div class="mewsmoretext">'+
										'<span>'+getNowFormatDate(data[i].ndate,'0')+'</span>'+
										'<h1>'+data[i].ntitle.replace(/<[^>]+>/g,"")+'</h1>'+
									'<article style="font-size:18px">'+data[i].ncontent.replace(/<[^>]+>/g,"").substring(0,200)+' </article>'+
										'</div>'+
									'</div>'+
								'</a></div>'
									htmlObj.push(html)
							}
							$(".listnew").html(htmlObj.join(''))
						}else{
							$(".titlemsg").show();
							$("#st_alert_text").text("已经是最后一页了")
						}
					}else{
						$("#st_alert_text").text("已经是第一页了")
						$(".titlemsg").show();
					}
			
		
				}
			});
				
				
			
		}
		
		function getNowFormatDate(data,index) {
				var date = new Date(data);
				var seperator1 = "-";
				var year = date.getFullYear();
				var month = date.getMonth() + 1;
				var strDate = date.getDate();
				if (month >= 1 && month <= 9) {
					month = "0" + month;
				}
				if (strDate >= 0 && strDate <= 9) {
					strDate = "0" + strDate;
				}
				if(index=='0'){
					var currentdate = year+ seperator1+month + seperator1 + strDate;

				}else{
					var currentdate =  year;

				}
				return currentdate;
		}
		function getUrlParameter(sParam) {
			var sPageURL = decodeURIComponent(window.location.search.substring(1)),
			sURLVariables = sPageURL.split('&'),
			sParameterName,
			i;
			
			for (i = 0; i < sURLVariables.length; i++) {
				sParameterName = sURLVariables[i].split('=');
				if (sParameterName[0] === sParam) {
					return sParameterName[1] === undefined ? true : sParameterName[1];
				}
			}
		}
		function openNewsDetails(newsDetailsID){
			var url ="http://www.szjqh.cn/template/newsDetails.html"
			sessionStorage.setItem("newsDetailsID",newsDetailsID)
			window.location.href =url

		}
		function openSeeMore(seeMoreID){
			var url ="http://www.szjqh.cn/template/seeMore.html"
			sessionStorage.setItem("seeMoreID",seeMoreID)
			window.location.href =url

		}
	</script>
</html>
