@charset "utf-8";
big,
blockquote,
body,
button,
dd,
div,
dl,
dt,
form,
h1,
h2,
h3,
h4,
h5,
h6,
html,
iframe,
input,
li,
menu,
ol,
p,
select,
table,
td,
textarea,
th,
ul {
	margin: 0;
	padding: 0;
	font-size: 12px
}

body,
html {
	width: 100%;
	height: 100%
}

body {
	zoom: 1;
	background: #fff;
	font-family: Arial, "微软雅黑", "Microsoft YaHei"
}

img {
	border: 0 none;
	vertical-align: middle
}

li,
ol,
ul {
	list-style: none
}

body,
button,
input,
select,
textarea {
	font-size: 12px;
	font-family: Arial, "微软雅黑"
}

table,
td,
th,
tr {
	border: 0 none;
	vertical-align: middle;
	border-collapse: collapse
}

button {
	cursor: pointer
}

address,
cite,
em,
i {
	font-style: normal
}

a {
	text-decoration: none;
	outline: 0;
	blr: expression(this.onFocus=this.blur())
}

a:link {
	text-decoration: none;
	cursor: pointer
}

a:active,
a:hover {
	text-decoration: none;
	-moz-background-clip: 222
}

a:focus {
	outline: 0
}

button::-moz-focus-inner,
input[type=reset]::-moz-focus-inner,
input[type=button]::-moz-focus-inner,
input[type=submit]::-moz-focus-inner,
input[type=file]>input[type=button]::-moz-focus-inner {
	border: none;
	padding: 0
}

.ui-loader-default {
	display: none
}

body {
	overflow-x: hidden
}

.NumContent {
	height: inherit;
	display: inherit;
	overflow: hidden;
	position: relative;
	line-height: inherit;
	font-size: inherit
}

.NumContent>div {
	line-height: inherit;
	color: inherit;
	font-size: inherit;
	display: inline-block;
	opacity: 0
}

.NumContent>div>div {
	line-height: inherit;
	color: inherit;
	font-size: inherit
}

.NumContent>div:nth-child(1) {
	transition: all 1.5s cubic-bezier(.35, .75, .55, 1);
	-moz-transition: all 1.5s cubic-bezier(.35, .75, .55, 1);
	-webkit-transition: all 1.5s cubic-bezier(.35, .75, .55, 1)
}

.NumContent>div:nth-child(2) {
	transition: all 1.5s cubic-bezier(.35, .75, .55, 1) .3s;
	-moz-transition: all 1.5s cubic-bezier(.35, .75, .55, 1) .2s;
	-webkit-transition: all 1.5s cubic-bezier(.35, .75, .55, 1) .2s
}

.NumContent>div:nth-child(3) {
	transition: all 1.5s cubic-bezier(.35, .75, .55, 1) .4s;
	-moz-transition: all 1.5s cubic-bezier(.35, .75, .55, 1) .4s;
	-webkit-transition: all 1.5s cubic-bezier(.35, .75, .55, 1) .4s
}

.NumContent>div:nth-child(4) {
	transition: all 1.5s cubic-bezier(.35, .75, .55, 1) .9s;
	-moz-transition: all 1.5s cubic-bezier(.35, .75, .55, 1) .9s;
	-webkit-transition: all 1.5s cubic-bezier(.35, .75, .55, 1) .9s
}

.NumContent>div:nth-child(5) {
	transition: all 1.5s cubic-bezier(.35, .75, .55, 1) 1.2s;
	-moz-transition: all 1.5s cubic-bezier(.35, .75, .55, 1) 1.2s;
	-webkit-transition: all 1.5s cubic-bezier(.35, .75, .55, 1) 1.2s
}

.NumContent.active>div {
	transition: all .3s cubic-bezier(.35, .75, .55, 1);
	-moz-transition: all .3s cubic-bezier(.35, .75, .55, 1);
	-webkit-transition: all .3s cubic-bezier(.35, .75, .55, 1)
}

.GoTop {
	position: fixed;
	width: 100px;
	bottom: 0;
	right: 0;
	z-index: 99999;
	height: 100px;
	background: 0 0;
	cursor: pointer;
	visibility: hidden;
	opacity: 0;
	text-align: center;
	line-height: 100px;
	transition: all .3s ease-in-out;
	-moz-transition: all .3s ease-in-out;
	-webkit-transition: all .3s ease-in-out;
	background: rgba(255,255,255,0.15) url(../../images/artone/img/Go_Top.png) no-repeat center;
}



