html {
	font-family:"寰蒋闆呴粦";
	-ms-text-size-adjust:100%;
	-webkit-text-size-adjust:100%
}
body {
	margin:0
}
article,aside,details,figcaption,figure,footer,header,hgroup,main,menu,nav,section,summary {
	display:block
}
audio,canvas,progress,video {
	display:inline-block;
	vertical-align:baseline
}
audio:not([controls]) {
	display:none;
	height:0
}
[hidden],template {
	display:none
}
a {
	background-color:transparent
}
a:active,a:hover {
	outline:0
}
abbr[title] {
	border-bottom:1px dotted
}
b,strong {
	font-weight:700
}
dfn {
	font-style:italic
}
h1 {
	font-size:2em;
	margin:.67em 0
}
mark {
	background:#ff0;
	color:#000
}
small {
	font-size:80%
}
sub,sup {
	font-size:75%;
	line-height:0;
	position:relative;
	vertical-align:baseline
}
sup {
	top:-.5em
}
sub {
	bottom:-.25em
}
img {
	border:0
}
svg:not(:root) {
	overflow:hidden
}
figure {
	margin:1em 40px
}
hr {
	box-sizing:content-box;
	height:0
}
pre {
	overflow:auto
}
code,kbd,pre,samp {
	font-family:monospace,monospace;
	font-size:1em
}
button,input,optgroup,select,textarea {
	color:inherit;
	font:inherit;
	margin:0
}
button {
	overflow:visible
}
button,select {
	text-transform:none
}
button,html input[type=button],input[type=reset],input[type=submit] {
	-webkit-appearance:button;
	cursor:pointer
}
button[disabled],html input[disabled] {
	cursor:default
}
button::-moz-focus-inner,input::-moz-focus-inner {
	border:0;
	padding:0
}
input {
	line-height:normal
}
input[type=checkbox],input[type=radio] {
	box-sizing:border-box;
	padding:0
}
input[type=number]::-webkit-inner-spin-button,input[type=number]::-webkit-outer-spin-button {
	height:auto
}
input[type=search] {
	-webkit-appearance:textfield;
	box-sizing:content-box
}
input[type=search]::-webkit-search-cancel-button,input[type=search]::-webkit-search-decoration {
	-webkit-appearance:none
}
fieldset {
	border:1px solid silver;
	margin:0 2px;
	padding:.35em .625em .75em
}
legend {
	border:0;
	padding:0
}
textarea {
	overflow:auto
}
optgroup {
	font-weight:700
}
table {
	border-collapse:collapse;
	
	
}

html {
	font-size:100px!important
}
html {
	height:100%;
	background:#FFF;
	font-family:Helvetica,"PingFang SC","Microsoft YaHei",Arial,"WenQuanYi Micro Hei","tohoma,sans-serif";
	color:#333;
	overflow-x:hidden;
	overflow-y:auto;
	-webkit-overflow-scrolling:touch;
	-webkit-tap-highlight-color:rgba(0,0,0,0);
	-webkit-font-smoothing:antialiased
}
html * {
	outline:0;
	-webkit-text-size-adjust:none;
	-webkit-tap-highlight-color:rgba(0,0,0,0)
}
a {
	color:#666;
	text-decoration:none
}
img {
	vertical-align:top
}
input {
	-webkit-user-modify:read-write-plaintext-only
}
.f-cb,.clearfix {
	*zoom:1
}
.f-cb:after,.clearfix:after {
	content:"";
	display:table;
	height:0;
	clear:both
}
em {
	color:#ff8939;
	font-style:normal
}
.m-list .widget-img-news {
	padding:.1rem;
	background-color:#fff;
	border-bottom:1px solid #E5E5E5;
	margin-bottom:.1rem
}
.m-list .widget-img-news .img-box {
	float:left;
	line-height:0;
	font-size:0
}
.m-list .widget-img-news .img-box img {
	width:.8rem;
	height:.7rem;
	border-radius:.05rem
}
.m-list .widget-img-news .text {
	overflow:hidden;
	padding-left:.1rem;
	padding-right:.2rem;
	font-size:.14rem
}
.m-list .widget-img-news .text .tit {
	display:block;
	color:#333;
	text-decoration:none;
	overflow:hidden;
	white-space:nowrap;
	word-break:keep-all;
	text-overflow:ellipsis;
	line-height:1
}
.m-list .widget-img-news .text .des {
	height:.45rem;
	padding-top:.06rem;
	color:#999;
	text-decoration:none;
	overflow:hidden;
	text-overflow:ellipsis;
	display:-webkit-box;
	-webkit-line-clamp:2;
	-webkit-box-orient:vertical;
	line-height:.22rem
}
.m-list .widget-img-news:last-child {
	border-bottom:0
}
.widget-news-title {
	padding:.1rem .14rem;
	border-top:1px solid #eee;
	border-bottom:1px solid #eee;
	background-color:#f9f9f9
}
.widget-news-title .news-title {
	border-left:4px solid #ff8939;
	background-image:-ms-linear-gradient(0deg,#e3e3e3 0,#e3e3e3 50%,transparent 50%,transparent 100%);
	background-image:-moz-linear-gradient(0deg,#e3e3e3 0,#e3e3e3 50%,transparent 50%,transparent 100%);
	background-image:-webkit-linear-gradient(0deg,#e3e3e3 0,#e3e3e3 100%,transparent 50%,transparent 100%);
	background-image:-o-linear-gradient(0deg,#e3e3e3 0,#e3e3e3 50%,transparent 50%,transparent 100%);
	background-image:linear-gradient(0deg,#e3e3e3 0,#e3e3e3 50%,transparent 50%,transparent 100%);
	background-size:100% 1px;
	background-repeat:no-repeat;
	background-position:0 center
}
.widget-news-title .news-title .title {
	font-weight:700;
	color:#666;
	padding:0 .1rem;
	float:left;
	background-color:#f9f9f9;
	font-size:.14rem
}
.widget-news-title .more {
	float:right;
	color:#999;
	text-decoration:none;
	background-color:#f9f9f9;
	padding-left:.1rem;
	padding-top:.02rem;
	font-size:.12rem
}
.m-more-box {
	padding:.14rem;
	background-color:#f9f9f9
}
.m-more {
	display:block;
	background-color:#f9f9f9;
	border:1px solid #ddd;
	border-image-source:initial;
	border-image-slice:initial;
	border-image-width:initial;
	border-image-outset:initial;
	border-image-repeat:initial;
	text-align:center;
	color:#666;
	border-radius:3px;
	font-size:.12rem;
	line-height:.3rem
}
.m-modal-share {
	display:none
}
.m-modal-comment {
	display:none
}
.m-cmt-container {
	display:none
}
.loaded {
	height:.32rem;
	line-height:.32rem;
	text-align:center;
	font-size:.12rem;
	color:#AAA;
	background-color:#f9f9f9
}
.pub-container {
	width:100%;
	position:fixed;
	bottom:.51rem;
	display:block
}
.m-pagebd {
	font-size:.14rem;
	padding-top:.88rem;
	height:100%;
	padding-bottom:.5rem
}
.m-pagebd .m-list .item {
	padding:.12rem .14rem .14rem;
	background-color:#fff;
	border-bottom:1px solid #F1F1F1
}
.m-pagebd .m-list .item:hover {
	background-color:#FBFBFB
}
.m-pagebd .m-list .item .img-box {
	width:34%;
	height:.75rem;
	float:left;
	display:inline-block;
	vertical-align:top
}
.m-pagebd .m-list .item .img-box img {
	width:90%;
	height:.7rem;
	float:left;
	margin-top:.05rem
}
.m-pagebd .m-list .item .info {
	width:66%;
	display:inline-block;
	float:left
}
.m-pagebd .m-list .item .info .desc {
	color:#AAA;
	height:.34rem;
	font-size:.12rem;
	margin-top:.08rem;
	line-height:.17rem;
	overflow:hidden;
	text-overflow:ellipsis;
	display:-webkit-box;
	-webkit-line-clamp:2;
	-webkit-box-orient:vertical
}
.m-pagebd .m-list .item .info .opts {
	line-height:.17rem;
	color:#AAA;
	font-size:.12rem;
	margin-top:.06rem
}
.m-pagebd .m-list .item .info .opts .cate-name {
	line-height:.17rem;
	display:inline-block
}
.m-pagebd .m-list .item .info .opts .attention {
	display:inline-block;
	float:right
}
.m-pagebd .m-list .item .info .opts .attention span {
	float:left;
	margin-left:.1rem
}
.m-pagebd .m-list .item .tit-box {
	line-height:.26rem;
	font-size:.18rem;
	font-weight:400;
	color:#3C3C3C
}
.m-pagebd .m-list .item .tit-box .tit-tag {
	line-height:1.1;
	color:#ED4747;
	font-size:.1rem;
	border:1px solid #ED4747;
	border-radius:.01rem;
	padding:.02rem .03rem .01rem;
	margin-right:.07rem;
	margin-top:-.04rem;
	display:inline-block;
	background-color:#FFF;
	vertical-align:middle
}
.m-pagebd .sub-img-box {
	margin-top:.1rem;
	overflow:hidden
}
.m-pagebd .sub-img-box img {
	min-width:100%;
	height:1rem
}
.m-pagebd .sub-tit {
	line-height:.26rem;
	font-size:.18rem;
	font-weight:400;
	color:#3C3C3C;
	overflow:hidden;
	white-space:nowrap;
	word-break:keep-all;
	text-overflow:ellipsis
}
.m-pagebd .sub-tit .tit-tag {
	line-height:1.1;
	color:#ED4747;
	font-size:.1rem;
	border:1px solid #ED4747;
	border-radius:.01rem;
	padding:.02rem .03rem .01rem;
	margin-right:.07rem;
	margin-top:-.04rem;
	display:inline-block;
	background-color:#FFF;
	vertical-align:middle
}
.m-search-modal {
	width:100%;
	height:100%;
	z-index:10000;
	display:none;
	position:absolute;
	top:0
}
.modal-open {
	overflow:hidden
}


.m-header {
	height:.44rem;
	line-height:.44rem;
	color:#fff;
	text-align:center;
	background-color:#FFF;
	border-bottom:1px solid #E5E5E5;
	position:relative
}
.m-header .logo {
	width:.8rem;
	height:.2rem;
	margin-top:.11rem
}
.m-header .hd-search-a {
	width:.44rem;
	height:.44rem;
	line-height:.44rem;
	vertical-align:text-top;
	float:right;
	position:absolute;
	top:0;
	right:0
}
.m-header .hd-search-a img {
	margin-top:.1rem
}
.m-nav-box {
	display:block;
	font-size:.14rem;
	height:.42rem;
	line-height:.42rem;
	padding:0 .05rem;
	background-color:#F9F9F9;
	border-bottom:1px solid #E5E5E5;
	overflow:hidden;
	overflow-x:auto;
	position:relative
}
.m-nav-box .list-box {
	width:90%;
	display:inline-block;
	float:left;
	position:relative;
	overflow-y:hidden
}
.m-nav-box .btn-box {
	width:10%;
	display:inline-block;
	text-align:center
}
.m-nav-box .nav-btn {
	width:.3rem;
	height:.3rem;
	line-height:.3rem;
	display:inline-block;
	box-sizing:border-box;
	vertical-align:middle;
	cursor:pointer
}
.m-nav-box .nav-btn.open {
	background:url(../images/open_m.png) no-repeat center;
	background-size:.11rem;
	background-color:transparent
}
.m-nav-box .nav-btn.close {
	background:url(../images/close_m.png) no-repeat center;
	background-size:.11rem;
	background-color:transparent
}
.navlist {
	width:4.3rem
}
.navlist .nav-item {
	line-height:.42rem;
	height:.42rem;
	font-size:.14rem;
	padding:0 .1rem;
	display:inline-block;
	flex:1 0 auto;
	text-align:center;
	box-sizing:border-box
}
.navlist .nav-item:first-child {
	padding-left:.15rem
}
.navlist .nav-item.active a {
	font-size:.16rem;
	color:#ff8939
}
.navlist .nav-item a {
	display:inline-block;
	vertical-align:top;
	word-break:keep-all;
	white-space:nowrap;
	color:#333;
	text-decoration:none;
	box-sizing:border-box;
	height:.42rem;
	line-height:.42rem
}
.navlist:after {
	content:"";
	display:table;
	height:0;
	clear:both
}
.navlist .close-nav {
	height:.3rem;
	text-align:center;
	background-color:#FF9F5D
}
.navlist .close-nav .icon-up {
	width:.3rem;
	height:.2rem;
	display:inline-block;
	background:url(../images/iconup.png) no-repeat 0 -.05rem;
	background-size:.3rem;
	vertical-align:super
}
.news-wap-page {
	position:fixed;
	left:0;
	top:0;
	width:100%;
	z-index:99
}

.modal-dialog {
	width:100%;
	height:100%
}
.mode.fade .modal-dialog {
	-webkit-transition:-webkit-transform .3s ease-out;
	-o-transition:-o-transform .3s ease-out;
	transition:transform .3s ease-out;
	-webkit-transform:translate(0,-25%);
	-ms-transform:translate(0,-25%);
	-o-transform:translate(0,-25%);
	transform:translate(0,-25%)
}
.mode.in .modal-dialog {
	-webkit-transform:translate(0,0);
	-ms-transform:translate(0,0);
	-o-transform:translate(0,0);
	transform:translate(0,0)
}
.search-bg {
	background:#000;
	opacity:.5;
	position:fixed;
	top:0;
	left:0;
	z-index:99;
	width:100%;
	height:100%
}
.m-main-box {
	width:100%;
	z-index:100;
	position:absolute;
	top:0
}
.search-box {
	font-size:.14rem;
	padding:.01rem;
	position:relative;
	background-color:#FFF
}
.search-box .hot-box {
	padding-bottom:.2rem
}
.search-box .hot-container {
	padding:0 .15rem;
	background-color:#fff
}
.search-box .tit {
	color:#666;
	font-size:14px;
	text-align:left;
	padding:.15rem 0
}
.search-box .a-box {
	list-style:none outside;
	margin:-1px 0 0 -.1rem;
	padding:0;
	font-size:.12rem
}
.search-box li {
	width:25%;
	color:#666;
	box-sizing:border-box;
	text-align:center;
	margin-bottom:.1rem;
	padding-left:.1rem;
	float:left;
	overflow:hidden;
	white-space:nowrap;
	word-break:break-all
}
.search-box a {
	line-height:.24rem;
	color:#666;
	text-decoration:none;
	display:block;
	margin:0 auto;
	border:1px dashed #ccc;
	overflow:hidden;
	white-space:nowrap;
	word-break:keep-all;
	text-overflow:ellipsis;
	background-color:#fff;
	box-sizing:content-box
}
.searchbox {
	border:#ddd 1px solid;
	overflow:hidden;
	outline:0;
	box-sizing:border-box;
	position:relative;
	background:#fff
}
.searchbox .search {
	height:.2rem;
	line-height:.1rem;
	width:80%;
	float:left;
	padding:.1rem .17rem;
	margin:0;
	border:0;
	font-size:.12rem
}
.searchbox .searchbtn {
	position:absolute;
	right:0
}
.searchbox .searchbtn .searchimg {
	width:.2rem;
	margin:.1rem;
	margin-left:0;
	vertical-align:middle;
	display:inline-block;
	float:right
}

.m-menu-box {
	height:100%;
	background-color:rgba(0,0,0,.5);
	display:none
}
.m-menu {
	font-size:.14rem;
	position:relative;
	padding-top:.88rem;
	background-color:#FFF
}
.m-menu .menu-container {
	padding:.17rem 0 .12rem .2rem
}
.m-menu .menu-container .menu-tit {
	line-height:.2rem;
	font-size:.14rem;
	color:#3C3C3C;
	margin-bottom:.12rem
}
.m-menu .menu-container .item {
	width:33%;
	font-size:.16rem;
	display:inline-block;
	text-align:center;
	float:left;
	margin-bottom:.2rem
}
.m-menu .menu-container .item a {
	line-height:22px;
	color:#6C6C6C;
	display:block;
	border:1px solid #E5E5E5;
	background-color:#FBFBFB;
	margin-right:.18rem;
	padding:.04rem .05rem;
	padding-bottom:.03rem;
	box-sizing:content-box;
	border-radius:.03rem
}
.m-menu .menu-container .item a.third-item {
	margin-right:0
}
.m-menu .menu-container .item a:hover {
	color:#FD8944;
	border-color:#FD8944
}
.m-menu .m-menu-close {
	display:inline-block;
	position:absolute;
	top:.1rem;
	right:.15rem
}
.m-menu .m-menu-close img {
	width:.2rem;
	height:.2rem
}
.page-detials {
	background-color:#f9f9f9
}
.page-detials .m-normal-detail {
	width:100%;
	word-wrap:break-word;
	word-break:normal
}
.page-detials .m-article-head {
	margin:.15rem 0
}
.page-detials .m-article-head .head-box {
	padding:0 .1rem
}
.page-detials .m-article-head .article-title {
	margin:0;
	font-weight:600;
	color:#333;
	font-size:.2rem
}
.page-detials .m-article-head .article-info {
	font-size:.14rem;
	color:#999;
	margin-top:.1rem
}
.page-detials .m-article-head .article-info .lf {
	float:left
}
.page-detials .m-article-head .article-info .rt {
	float:right
}
.page-detials .m-article-head .article-info .a-type {
	float:left
}
.page-detials .m-article-head .article-info .time {
	margin-top:.02rem
}
.page-detials .m-article-head .article-info .praise,.page-detials .m-article-head .article-info .read,.page-detials .m-article-head .article-info .time {
	float:left;
	margin-left:10px
}
.page-detials .m-article-head .article-info .author-tag {
	line-height:.18rem;
	display:inline-block;
	padding-left:.25rem;
	font-size:.16rem;
	background:url(//cdn.maijia.com/news/page/wap/details/imgs/tag_4d5949f.png) no-repeat
}
.page-detials .m-article-head .article-info .author-tag a {
	color:#999;
	font-size:.16rem;
	max-width:.65rem;
	height:.18rem;
	line-height:.18rem;
	margin-right:.05rem;
	display:inline-block;
	white-space:nowrap;
	word-break:keep-all;
	overflow:hidden;
	text-overflow:ellipsis;
	text-decoration:underline
}
.page-detials .m-article-head .article-info .author-time {
	color:#999;
	line-height:.18rem;
	float:right;
	font-size:.16rem
}
.page-detials .m-article-content {
	padding:.15rem .1rem;
	color:#666;
	font-weight:400;
	font-size:.18rem;
	line-height:.28rem;
	background-color:#fff;
	overflow:hidden;
	border-top:1px solid #E5E5E5
}
.page-detials .m-article-content img {
	width:100%;
	max-width:100%;
	float:left
}
.page-detials .m-article-tag {
	font-size:.14rem;
	padding:.1rem;
	background-color:#fff;
	border-bottom:1px solid #E5E5E5
}
.page-detials .m-article-tag .tag-tit {
	text-align:center;
	padding:.15rem 0;
	margin-bottom:.1rem;
	position:relative;
	background-image:-ms-linear-gradient(0deg,#e3e3e3 0,#e3e3e3 50%,transparent 50%,transparent 100%);
	background-image:-moz-linear-gradient(0deg,#e3e3e3 0,#e3e3e3 50%,transparent 50%,transparent 100%);
	background-image:-webkit-linear-gradient(0deg,#e3e3e3 0,#e3e3e3 100%,transparent 50%,transparent 100%);
	background-image:-o-linear-gradient(0deg,#e3e3e3 0,#e3e3e3 50%,transparent 50%,transparent 100%);
	background-image:linear-gradient(0deg,#e3e3e3 0,#e3e3e3 50%,transparent 50%,transparent 100%);
	background-size:100% 1px;
	background-repeat:no-repeat;
	background-position:0 center
}
.page-detials .m-article-tag .tag-tit .tit {
	color:#999;
	font-size:.16rem;
	padding:0 .1rem;
	float:left;
	background-color:#fff;
	position:absolute;
	top:.04rem;
	left:37%
}
.page-detials .m-article-tag .tag-tit .tit-icon {
	padding-top:.05rem
}
.page-detials .m-article-tag .tag-tit .tit-icon img {
	width:.1rem
}
.page-detials .m-article-tag a {
	width:.8rem;
	color:#ff8939;
	float:left;
	border:.01rem dashed #ff8939;
	padding:.03rem 0;
	display:inline-block;
	text-align:center;
	line-height:.2rem;
	margin:0rem .03rem .08rem;
	overflow:hidden;
	white-space:nowrap;
	word-break:keep-all;
	text-overflow:ellipsis;
	box-sizing:content-box
}
.page-detials .m-baidu-share {
	color:#666;
	font-size:.16rem;
	margin:.25rem 0;
	padding:0 .1rem
}
.page-detials .praise-box {
	text-align:center;
	font-size:.16rem;
	color:#999;
	margin:.15rem 0
}
.page-detials .praise-box .praise-el {
	display:inline-block;
	padding:0 20px
}
.page-detials .praise-box .praise-el img {
	width:60px
}
.page-detials .praise-box .praise-el .J_m-praise {
	margin-top:.05rem
}
.page-detials .m-article-bottm .m-news-list {
	font-size:.16rem;
	margin:.15rem 0
}
.page-detials .m-article-bottm .m-news-list:first-child {
	margin-bottom:.3rem
}
.page-detials .m-article-bottm .m-news-list .list-tit {
	margin-bottom:.1rem
}
.page-detials .m-article-bottm .m-news-list .title-tag {
	background-color:#ff8939;
	color:#fff;
	border-color:#ff8939;
	line-height:2em;
	padding:.06rem;
	border-radius:3px;
	margin-left:.1rem
}
.page-detials .m-article-bottm .m-news-list .news-items {
	padding:.1rem;
	font-size:.14rem;
	background-color:#fff;
	margin-top:.1rem
}
.page-detials .m-article-bottm .m-news-list .news-items .item {
	color:#333;
	padding:.15rem;
	border-bottom:1px solid #E5E5E5
}
.page-detials .m-article-bottm .m-news-list .news-items .item:first-child {
	padding-top:.05rem
}
.page-detials .m-article-bottm .m-news-list .news-items .item .item-hd {
	color:#999;
	line-height:.2rem
}
.page-detials .m-article-bottm .m-news-list .news-items .item .item-hd .praise {
	padding-left:.2rem;
	float:right;
	background:url(../images/c-praise.png) no-repeat 0 0;
	background-size:.15rem
}
.page-detials .m-article-bottm .m-news-list .news-items .item .item-hd .praised {
	padding-left:.2rem;
	float:right;
	background:url(../images/c-praised.png) no-repeat 0 0;
	background-size:.15rem
}
.page-detials .m-article-bottm .m-news-list .news-items .item .com-content {
	line-height:.2rem;
	max-height:.4rem;
	padding-top:.05rem;
	overflow:hidden;
	text-overflow:ellipsis;
	display:-webkit-box;
	-webkit-line-clamp:2;
	-webkit-box-orient:vertical
}
.page-detials .m-article-bottm .m-news-list .news-items .more-box {
	text-align:center
}
.page-detials .m-article-bottm .m-news-list .news-items .more-box .wap-to-app {
	color:#ff8939;
	padding:.15rem 0 .05rem;
	display:inline-block
}
.page-detials .m-article-bottm .m-news-list .news-items .more-box .app-more-btn {
	color:#999;
	padding:.15rem 0 .05rem;
	display:none
}
.page-detials .m-article-bottm .m-news-list .m-list {
	margin-top:.1rem
}
.page-detials .m-article-bottm .m-news-list .m-list .item .info .tit-box {
	height:.52rem;
	overflow:hidden;
	text-overflow:ellipsis;
	display:-webkit-box;
	-webkit-line-clamp:2;
	-webkit-box-orient:vertical
}
.page-detials .m-article-bottm .m-news-list .m-list .item .opts .attention {
	display:inline-block;
	float:right
}
.page-detials .m-article-bottm .m-news-list .im {
	display:inline-block;
	text-align:center;
	vertical-align:top;
	line-height:0;
	margin-bottom:.15rem;
	width:49%
}
.page-detials .m-article-bottm .m-news-list .im .img-box {
	font-size:0
}
.page-detials .m-article-bottm .m-news-list .pic {
	min-height:.78rem;
	width:95%;
	display:inline-block
}
.page-detials .m-article-bottm .m-news-list .p-div {
	width:95%;
	display:inline-block;
	text-align:center
}
.page-detials .m-article-bottm .m-news-list .tit {
	max-height:.34rem;
	line-height:.17rem;
	color:#333;
	overflow:hidden;
	text-overflow:ellipsis;
	display:-webkit-box;
	-webkit-line-clamp:2;
	-webkit-box-orient:vertical;
	text-align:left;
	padding:.1rem 0 0;
	margin:0
}
.page-detials .m-article-bottm .relate-special {
	padding:.15rem .1rem 0
}
.page-detials .m-article-bottm .relate-special .list-tit {
	padding:0 .05rem
}
.rs {
    padding: .15rem;
    margin: 0;
    color: #666;
    font-size: .14rem;
}
.rs .c {
    color: #ff8939;
}